@import url('https://fonts.googleapis.com/css?family=Raleway:600,800|Overpass+Mono|Muli:300,300i,400,400i,700,700i');

/*** CSS Reset ***/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/*** Site-wide Typography ***/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

:focus:not(:focus-visible) {
  outline: none;
}

/*** Layout & Box-sizing ***/
article,
aside,
footer,
header,
nav,
section,
main {
  display: grid;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/*** Specific Resets ***/
html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
iframe.yt,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

/*** Attributes & states ***/
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/*** Screen reader ***/
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

/*** Rest of the styling ***/
body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.nav-item a {
  color: #000;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

.nav-item a:hover {
  color: #1db954;
  right: 0;
  text-decoration: none;
}

.nav-item a:hover:after {
  border-color: #1db954;
  right: 0;
}

.nav-item a:after {
  border-radius: 1em;
  border-top: .3em solid #fff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .07em;
  left: 0;
  transition: right .4s cubic-bezier(0, .5, 0, 1), border-color .4s ease-out;
}

code {
  color: #639;
  font-family: 'Overpass Mono', monospace;
  font-size: .85em;
  padding: 0.5rem;
  text-transform: none;
}

span.pre:hover {
  cursor: pointer;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /*** Safari ***/
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

/*** NAVIGATION ***/
.navbar {
  display: grid;
  grid-template-columns: auto min-content;
  height: 50px;
  margin-right: 2rem;
  overflow: hidden;
}

.navbar ul {
  align-items: center;
  display: flex;  
  list-style: none;
}

.navbar ul li.nav-item {
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 0rem;
  text-transform: uppercase;
}

.nav-item a {
  color: #000;
  font-family: "Lora", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  font-style: normal;
  letter-spacing: 0.05rem;
  transition: color .4s ease-out;
}

.nav-item a:hover {
  color: #1db954;
}

/*** MOBILE MENU & ANIMATION ***/
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
  justify-self: end;
  margin: 13px 25px 0px 0px;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/*** MEAT & POTATOES ***/
main.splash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 85vh;
}

section#left-panel {
  background-color: #fff;
  grid-row: 1 / 4;
  justify-content: center;
}

section#right-panel {
  background-image: url(/img/tl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1 / 4;
  margin: 0 2rem;
  max-height: 100%;
  max-width: 100%;
}

main.no-splash {
  background-color: white;
}

.article-list {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  max-width: 100%;
  padding: 3em;
}

.article-category {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #f40009;
  display: inline-block;
  margin-bottom: 1.2em;
  padding-bottom: 0.375em;
}

.article-meta {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 500;
  margin-left: 0rem;
}

li.article-list-article {
  padding: 1.25rem;
  width: 100%;
}

li.article-list-article.newest {
  background-color: #030007;
}

li.article-list-article.newest a {
  color: #fff;
}

li.article-list-article.newest:hover {
  background-color: #c03000;
  transition: background-color 3s ease-in;
}

li.article-list-article:hover {
  background-color: #f5f5f5;
  transition: background-color 1s ease-in;
}

.article-list-article-link {
  color: #333333;
  display: block;
  text-decoration: none;
}

.article-list-subscribe {
  background-color: #333333;
  color: #ffffff;
  padding: 1.5em;
  text-align: center;
}

.article-list-subscribe-title {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: .5em;
}

article {
  background-color: #ffffff;
  color: #333333;
  grid-template-columns: 1fr minmax(auto, 73ch) 1fr;
  grid-template-rows: 100vh auto;
  font-family: "Muli", helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 100vw;
}

article.about {
  grid-template-rows: 50vh auto;
}

article.style-guide {
  background-color: #ffffff;
}

.article__featured-image-container {
  align-self: end;
  grid-column: 1;
  grid-row: 2;
}

.article__featured-image {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}

.article__header {
  background-color: rgba(0, 0, 0, 0);
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.article__meta {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
}

h2.article__title {
  font: 4em 'Roslindale Display Ultra Web';
  font-feature-settings: "kern"on, "liga"on, "calt"on;
  -moz-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -webkit-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -ms-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -o-font-feature-settings: "kern"on, "liga"on, "calt"on;
  font-variation-settings: 'wght'900, 'wdth'60;
  line-height: 1;
  margin: 1rem 0;
  text-transform: none;
}

.article__body {
  grid-column: 2;
  grid-row: 1 / 3;
  grid-auto-rows: max-content;
  padding: 0 2.5rem 3rem;
  word-break: break-word;
}

.article__body a {
  color: #014713;
  text-decoration: underline;
  text-underline-offset: 0.12em;
  text-decoration-thickness: 0.07em;
  text-decoration-style: solid;
  text-decoration-color: #014713;
}

.article__body a:hover {
  color: #1db954;
}

.style_guide__body {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  padding: 0 2.5rem 3rem;
}

/*** Typography ***/
p {
  font: 1.2em "Lora";
  font-feature-settings: "kern"on, "liga"on, "calt"on;
  -moz-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -webkit-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -ms-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -o-font-feature-settings: "kern"on, "liga"on, "calt"on;
  font-variation-settings: 'wght'400;
  margin: 1rem 0rem;
  text-transform: none;
  padding: 0.25rem 0rem;
}

p.note {
  background-color: #1da1f2;
  border-bottom: 2px solid #f40009;
  color: #ffffff;
  font-size: .9em;
  font-style: italic;
  padding: 1rem 0.5rem;
}

p.hidden {
  visibility: hidden;
}

h1 {
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  line-height: 1.7;
  margin-left: .3em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 1.5s ease-in-out;
  width: auto;
}

h1.home:hover {
  color: #1db954;
}

h2 {
  font: 1.6em "Lora";
  text-transform: uppercase;
}

h2.hello {
  align-self: center;
  color: #000;
  font-size: 10em;
  justify-self: center;
  text-transform: none;
  animation: fadeIn 5s ease-in;
}

h3.intro {
  color: #000;
  font: 1.4em "Lora";
  justify-self: center;
  text-transform: none;
  animation: fadeIn 5s ease-in;
}

h3 {
  font: 1.4em "Lora";
  font-style: oblique;
  font-weight: 900;
  padding: 1rem 0rem;
  text-transform: uppercase;
}

h4 {
  font-family: "Futura", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

/*** LISTS ***/
ul,
ol {
  margin-left: 0;
}

ul {
  list-style-type: square;
  padding: .75rem 0rem;
}

li,
li p {
  font-size: 1em;
  font-style: oblique;
  font-weight: 700;
  margin-left: 2.5rem;
  padding: 0.5rem 0rem;
}

ul.list__container {
  margin-left: 2em;
  padding: .5em 0em 2em 0em;
}

li.postlist-item,
li.postlist-item a {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.article__body h2,
.style_guide__body h2 {
  font: 3em 'BildVariableV2';
  font-weight: 700;
  padding: 1rem 0;
}

.article__body p,
.style_guide__body p {
  margin: 1rem 0;
}

section.style-guide__body ul {
  list-style-type: none;
}

h2.article-list-article-title {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

blockquote {
  background-color: rgb(240, 240, 240, 0.7);
  border-left: 5px solid #014713;
  font-family: "Lora", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  font-style: oblique;
  line-height: 1.5;
  margin: 2.5em 0;
  padding: 1.5em 3em 1.5em;
  width: 100%;
}

blockquote:after {
  color: #1da1f2;
  content: "\2013 \2003"attr(cite);
  display: block;
  font-size: 0.875em;
  text-align: right;
  padding: 2rem 2rem 0rem 0rem;
}

blockquote a {
  text-decoration: none;
  background: #fff;
  cursor: pointer;
  padding: 0 3px;
  color: #014713;
}

blockquote a:hover {
  color: #990000;
}

blockquote em {
  font-style: italic;
}

blockquote cite {
  color: #1da1f2;
  font-size: 1rem;
  display: block;
  margin-top: 2em;
  float: right;
}

blockquote cite:before {
  content: "\2014 \2009";
}

figcaption {
  font-style: oblique;
  font-size: .9em;
  margin-top: -2rem;
  padding: 0 0 3rem 0;
  text-align: center;
}

span.italic {
  font-style: italic;
}

span.bolder {
  font-weight: 900;
}

/*** IMAGE CLIP PATHS ***/
.container {
  margin: 0rem;
  padding: 0rem;
}

.shape {
  width: 300px;
  height: 300px;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-margin: 0rem;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

/*** FOOTER ***/
footer {
  grid-auto-flow: column;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}

footer a:hover {
  transition: all 0.8s ease-in-out;
}

footer a:link,
footer a:visited,
footer a:active {
  color: #000000;
}

footer a {
  padding: 0.25rem;
}

a.codepen:hover svg {
  color: #666666;
}

a.dribbble:hover svg {
  color: #ea4c89;
}

a.github:hover svg {
  color: #666666;
}

a.twitter:hover svg {
  color: #1da1f2;
}

a.rss:hover svg {
  color: #ec802b;
}

a.a11y:hover svg {
  color: #1259a7;
}

/*** SVG ICONS ***/
.icon {
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*** CONTACT FORM ***/
.contact {
  background: #f8f8ff;
  font-family: "Lora", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  justify-self: center;
  letter-spacing: 1px;
  min-width: 30vw;
  padding: 2em;
}

h2#hi {
  font-family: "Lora", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
}

.field {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-gap: inherit;
}

.field#hidden {
  visibility: hidden;
}

.contact form input,
.contact form textarea {
  border: 0.5rem solid #f8f8ff;
  font-family: "Lora", Helvetica, Arial, sans-serif;
  padding: .75em;
}

button {
  background: #000;
  border: 0;
  color: #fff;
  font-family: "Lora", Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 0.85rem 2rem;
  text-transform: uppercase;
  width: 50%;
}

/*** STYLE GUIDE STUFF! ***/
.style-guide__wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

div.box.black {
  background-color: #000000;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #ffffff;
}

div.box.white {
  background-color: #ffffff;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000000;
}

div.box.ghost_white {
  background-color: #f8f8ff;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000000;
}

div.box.white_smoke {
  background-color: #f5f5f5;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000000;
}

div.box.gainsboro {
  background-color: #dcdcdc;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000000;
}

div.box.light_gray {
  background-color: #cccccc;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000000;
}

div.box.dark_gray {
  background-color: #333333;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #ffffff;
}

div.box.red {
  background-color: #f40009;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000;
}

div.box.crimson_red {
  background-color: #990000;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #ffffff;
}

div.box.vivid_blue {
  background-color: #1da1f2;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000;
}

div.box.green {
  background-color: #1db954;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #000;
}

div.box.mtndew_green {
  background-color: #014713;
  box-shadow: #c2c2c2 2px 3px 5px;
  color: #ffffff;
}

.box {
  padding: 20px;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 1000ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 1000ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 1000ms ease-in;
  -moz-transform: scale(1);
  transition: all 1000ms ease-in;
  transform: scale(1);
}

.box:hover {
  z-index: 2;
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(1.10);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(1.10);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(1.10);
  transition: all 250ms ease-in;
  transform: scale(1.10);
}

h1#style-guide_h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 3.4em 'Butler Stencil';
  font-weight: 400;
  margin: 1rem 0;
  text-transform: none;
}

h2#style-guide_h2 {
  background-color: #000000;
  color: #ffffff;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

/*** EMBEDDED TWEETS ***/
twitter-widget.twitter-tweet {
  justify-self: center;
  margin: 0 auto;
  padding: 3rem 0rem;
}

/*** ARTICLE IMAGE POSITIONING ***/
figure {
  display: grid;
}

div.content__placeholder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

img.content__image {
  justify-self: center;
  max-width: 100%;
  padding: 3rem 0rem;
}

/*** IFRAME/VIDEO CENTERING ***/
iframe.yt,
video {
  display: grid;
  justify-self: center;
  margin: 2rem auto;
}

/*** KEYFRAME ANIMATIONS ***/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*** Tag styling ***/
a.tag {
  color: #01274e;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  height: 24px;
  display: inline-block;
  top: 3px;
  padding: 1px 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  z-index: 100;
}

a.tag:hover {
  background-color: #1259a7;
  border-radius: 1em;
  color: #fff;
  max-width: inherit;
}

a.postlist-link {
  font-size: 1.5em;
}

p.tag-wrap {
  display: inline;
  line-height: 1.4;
  position: relative;
}

/*** Variable Fonts ***/
@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.woff2');
  src: url('/fonts/BildVariableV2-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.woff');
  src: url('/fonts/BildVariableV2-VF.woff') format('woff');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.ttf');
  src: url('/fonts/BildVariableV2-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Italic-VF';
  src: url('/fonts/Lora-Italic-VF.woff2');
  src: url('/fonts/Lora-Italic-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
}

@font-face {
  font-family: 'Lora-Italic-VF';
  src: url('/fonts/Lora-Italic-VF.ttf');
  src: url('/fonts/Lora-Italic-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
}

@font-face {
  font-family: 'Lora-VF';
  src: url('/fonts/Lora-VF.woff2');
  src: url('/fonts/Lora-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-VF';
  src: url('/fonts/Lora-VF.ttf');
  src: url('/fonts/Lora-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  src: url('/fonts/RoslindaleDisplayUltraVariable-VF.woff2') format("woff2"),
    url('/fonts/RoslindaleDisplayUltraVariable-VF.woff') format("woff");
  font-family: 'Roslindale Display Ultra Web';
  font-style: normal;
  font-weight: normal;
}

/*** Media Queries ***/
@media all and (max-width: 600px) {
  .promoted-articles__content {
    position: absolute;
    right: 2rem;
    bottom: 0.5rem;
    left: 2rem;
  }

  .article__header {
    transform: rotate(270deg);
    writing-mode: vertical-lr;
  }
}

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  main.splash {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-height: 100vh;
  }

  section#left-panel {
    grid-row: 1;
  }

  section#right-panel {
    justify-self: center;
    grid-row: 2;
    width: 100%;
  }

  h2.hello {
    align-self: flex-end;
    color: #000;
    font-size: 8em;
    justify-self: center;
    text-transform: none;
    animation: fadeIn 5s ease-in;
  }

  h3.intro {
    align-self: center;
    color: #000;
    font: 1.2em "Lora";
    text-transform: none;
    animation: fadeIn 5s ease-in;
  }

  /*** MOBILE HEADINGS ***/
  h2 {
    font-size: 1rem;
  }

  h2.promoted-articles__title {
    font-size: 1.4em;
  }

  /*** MOBILE NAVIGATION ***/
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 50px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    transform: translate(-101%);
    overflow: hidden;
    z-index: 1;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 2rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /*** SECTIONS ***/
  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }

  .contact form label {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .article__body h2 {
    line-height: 1.2;
  }

  .promoted-articles {
    display: block;
  }

  .promoted-articles__article {
    height: 400px;
    margin-bottom: 8px;
    width: 100%;
  }
}

@media (max-width: 73ch) {
  article {
    display: block;
    font-size: 1em;
  }

  .article__header {
    padding: 2rem 1rem;
  }

  .article__body h2 {
    line-height: 1.2;
  }

  .style_guide__body {
    padding: 0 1rem 3rem;
  }
}

/*** LARGE SCREENS ***/
@media (min-width: 700px) {
  .wrapper>* {
    padding: 2em;
  }

  .nav-item a {
    font-size: 1em;
  }

  .company-info ul,
  .brand {
    text-align: center;
  }
}

/*** SMALL SCREENS ***/
@media (min-width: 280px) and (max-width: 600px) {
  navbar ul li.nav-item {
    margin-right: 3rem;
  }

  li.article-list-article {
    margin-left: 0rem;
  }

  .nav-item a {
    font-size: 1em;
  }

  .menu-toggle {
    margin: 9px 5px 0px 0px;
  }

  .contact {
    background: #f8f8ff;
    font-family: "Lora", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    justify-self: center;
    letter-spacing: 1px;
    min-width: 28vw;
    padding: 2em;
  }

  h2#hi {
    font-family: "Lora", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
  }

  .field {
    display: grid;
    grid-template-columns: 10ch 1fr;
    grid-column-gap: 1em;
  }

  .contact form input,
  .contact form textarea {
    border: 0.5rem solid #f8f8ff;
    font-family: "Lora", Helvetica, Arial, sans-serif;
    padding: .5em;
  }

  .article__header {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
  }

  .article__featured-image {
    height: auto;
    max-width: 100vw;
  }

  .article__body {
    grid-template-columns: minmax(auto, 36ch);
  }

  .article__body p {
    width: 36ch;
  }

  .article-list {
    padding: 1rem;
  }

  .article__title {
    font-size: 2.5em;
  }

  .article__body h2 {
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.2;
  }

  .article__body h3 {
    font-size: 1.1em;
    padding: 1.5rem 0rem 0rem 0rem;
  }

  .article-list-article-link {
    margin-right: 2rem;
  }

  blockquote {
    font-size: 0.75em;
  }

  blockquote.twitter-tweet {
    padding: 1.5rem 0.5rem 1.5rem;
  }

  .shape {
    shape-margin: 4rem;
    float: none;
  }

  h2.hello {
    align-self: flex-end;
    color: #000;
    font-size: 5em;
    justify-self: center;
    text-transform: none;
    animation: fadeIn 5s ease-in;
  }

  h3.intro {
    align-self: center;
    color: #000;
    font: 1em "Lora";
    text-transform: none;
    animation: fadeIn 5s ease-in;
    text-align: center;
  }
}

/***
 *
 *
 *
 * For future usage
 *
 *
 *

 color: var(--black);

 :root {
  --black: #000;
	--white: #fff;
  --cokered: #f40009;
  --ghostwhite: #f8f8ff;
  --whitesmoke: #f5f5f5;
  --gainsboro: #dcdcdc;
  --lightgray: #ccc;
  --darkgray: #333;
  --crimsonred: #900;
  --vividblue: #1da1f2;
  --mtndewgreen: #014713;
 }

 ***/