/* CSS Reset */
a,
abbr,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
label,
legend,
li,
main,
mark,
nav,
ol,
p,
pre,
q,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: grid;
}

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

iframe,
img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #808080;
  --green: #4a7a00;
  --ecto: #a3af7c;
  --dark: #232323;

  --font-family-sans: 'Source Sans Variable', 'Open Sans', Arial, Helvetica, sans-serif;
  --font-family-serif: 'Lora-VF', Georgia, 'Times New Roman', serif;
  --font-family-heading-sm: 'Raleway', Arial, Helvetica, sans-serif;

  --heading1-font: calc(21px + 0.3vw);
  --heading2-font: calc(72px + 0.3vw);
  --heading3-font: calc(28px + 0.3vw);
  --font-body-home: calc(21px + 0.3vw);

  --font-body-article-h3: calc(36px + 0.3vw);
  --font-body-article-h4: calc(28px + 0.3vw);
  --font-body-article-h5: calc(24px + 0.3vw);

  --font-size-small: calc(10px + 0.3vw);
  --font-size: calc(12px + 0.3vw);
  --font-size-article: calc(16px + 0.3vw);
  --font-size-large: calc(21px + 0.3vw);
  --font-size-xlarge: calc(28px + 0.3vw);
  --font-size-xxlarge: calc(56px + 0.3vw);

  --line-height: calc(1rem + 1vw);
  --line-height-large: calc(8rem + 1vw);
  --line-height-medium: calc(5rem + 1vw);
  --line-height-small: calc(2rem + 1vw);

  --inset: 0.5rem;
  --large: 1100px;
  --medium: 960px;
  --small: 515px;
}

@font-face {
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansVariable_Roman_subset.woff2') format('woff2'), url('/fonts/SourceSansVariable_Roman_subset.woff') format('woff'), url('/fonts/SourceSansVariable_Roman_subset.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansVariable_Italic_subset.woff2') format('woff2'), url('/fonts/SourceSansVariable_Italic_subset.woff') format('woff'), url('/fonts/SourceSansVariable_Italic_subset.ttf') format('truetype');
}

@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.woff2');
  src: url('/fonts/BildVariableV2-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.woff');
  src: url('/fonts/BildVariableV2-VF.woff') format('woff');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'BildVariableV2';
  src: url('/fonts/BildVariableV2-VF.ttf');
  src: url('/fonts/BildVariableV2-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 10% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Italic-VF';
  src: url('/fonts/Lora-Italic-VF.woff2');
  src: url('/fonts/Lora-Italic-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0 12deg;
}

@font-face {
  font-family: 'Lora-Italic-VF';
  src: url('/fonts/Lora-Italic-VF.ttf');
  src: url('/fonts/Lora-Italic-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: oblique 0 12deg;
}

@font-face {
  font-family: 'Lora-VF';
  src: url('/fonts/Lora-VF.woff2');
  src: url('/fonts/Lora-VF.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-VF';
  src: url('/fonts/Lora-VF.ttf');
  src: url('/fonts/Lora-VF.ttf') format('ttf');
  font-display: swap;
  font-weight: 1 999;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  src: url('/fonts/RoslindaleDisplayUltraVariable-VF.woff2') format("woff2"), url('/fonts/RoslindaleDisplayUltraVariable-VF.woff') format("woff");
  font-family: 'Roslindale Display Ultra Web';
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

.wrapper {
  display: grid;
  grid-template-columns: [full-start] minmax(calc(calc(100% - var(--large))/2), 1fr) [main-start] repeat(8, [col-start] 1fr) [main-end] minmax(calc(calc(100% - var(--large))/2), 1fr) [full-end];
}

ul.navigation {
  flex: revert;
}

ul.navigation a {
  color: var(--white);
  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  padding: 0 1.5rem;
}

ul.navigation a:hover {
  color: var(--ecto);
  background: none;
  border-bottom: 2px solid var(--ecto);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

ul.navigation a.active {
  color: var(--white);
  font-weight: 600;
}

.main-nav li {
  padding: 0 1rem;
  list-style: none;
  display: inline-flex;
}

header {
  margin: 8vh 0;
  grid-column: 1/10;
}

header img#logo {
  height: 30px;
  width: 100%;
}

nav {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-size: var(--heading1-font);
  font-family: var(--font-family-serif);
}

h1.home {
  color: var(--green);
  padding: 4rem;
}

h1.home:hover {
  color: var(--ecto);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main {
  grid-template-columns: subgrid;
  grid-column: [full-start] minmax(calc(calc(100% - var(--large))/2), 1fr) [main-start] repeat(10, [col-start] 1fr) [main-end] minmax(calc(calc(100% - var(--large))/2), 1fr) [full-end];
  grid-column: full;
}

@supports (display: grid) {
  main {
    grid-template-columns: [full-start] minmax(calc(calc(100% - var(--large))/2), 1fr) [main-start] repeat(10, [col-start] 1fr) [main-end] minmax(calc(calc(100% - var(--large))/2), 1fr) [full-end];
    grid-column: full;
  }
}

main h2 {
  font-size: var(--heading2-font);
  font-family: var(--font-family-sans);
  font-weight: 900;
  line-height: var(--line-height-large);
  padding: 0;
  margin: 0;
}

.inner {
  display: grid;
  grid-template-columns: [full-start] minmax(calc(calc(100% - var(--large))/2), 1fr) [main-start] repeat(10, [col-start] 1fr) [main-end] minmax(calc(calc(100% - var(--large))/2), 1fr) [full-end];
}

.page-container {
  display: grid;
  grid-column: 4/14;
}

.about-container,
.article-container {
  display: grid;
  grid-column: 2/12;
}

.intro-home {
  grid-column: 2/12;
  font-size: var(--font-body-home);
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;
}

.sections {
  display: flex;
  grid-column: 2/12;
  font-size: var(--font-size-large);
  line-height: 2.5rem;
}

.sections li {
  font-family: var(--font-family-serif);
  line-height: var(--line-height-small);
  margin: 0 1rem 1.5rem 0;
  width: calc(50% + 1vw);
}

.articles {
  grid-column: 2/12;
  margin-top: 4em;
}

.article h3 {
  font-size: var(--font-size-large);
  padding: 1rem 0;
}

.article-sections {
  display: flex;
  font-family: var(--font-family-sans);
}

.article-wrapper {
  flex: 1;
}

.article-wrapper h4 {
  padding-top: 2rem;
  font-size: var(--font-size-article);
  line-height: var(--line-height-small);
}

.article-wrapper h4 a {
  color: var(--white);
}

.article-wrapper h4 a:hover {
  color: var(--ecto);
}

.article-wrapper:first-child,
.article-wrapper:last-child,
.article-wrapper:nth-child(2) {
  margin-right: 2rem;
}

article li a {
  color: var(--ecto);
}

article ul li::marker {
  counter-increment: none;
  content: none;
}

.google-map {
  grid-column: 4/7;
}

.google-map iframe {
  width: 100%;
  height: 100%;
}

aside img {
  border-radius: 50%;
  margin-bottom: 2em;
}

a[href] {
  color: var(--ecto);
}

a[href]:hover {
  color: var(--white);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-decoration-skip: ink;
  text-underline-position: under;
}

a.button {
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  border: none;
  color: var(--ecto);
  background-color: var(--white);
  text-decoration: none;
}

a.button:hover {
  border: none;
  background-color: var(--green);
  color: var(--white);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

footer a {
  border: none;
}

article {
  margin: 1em 0 2em;
  font-size: var(--font-size-article);
  line-height: 1.6;
}

section {
  margin: 2em 0;
  display: grid;
  font-family: var(--font-family-serif);
  grid-column: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  line-height: 1.5rem;
  font-weight: 600;
}

h1 {
  line-height: 1.1;
  margin-bottom: 0;
}

h2 {
  font-size: 1.6rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-body-article-h3);
  line-height: var(--line-height-small);
  padding: 4rem 0;
  color: var(--ecto);
}

h4 {
  font-size: var(--font-body-article-h4);
  line-height: var(--line-height-medium);
  padding: 3rem 0;
  color: var(--ecto);
}

h5 {
  font-size: var(--font-body-article-h5);
  line-height: var(--line-height-medium);
  padding: 2rem 0;
  color: var(--ecto);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #fff;
  padding: 0.3em 0;
  border-bottom: 1px solid var(--grey);
}

p {
  font-size: var(--font-size-large);
  margin: 0.5rem 0;
  padding: 0;
  font-feature-settings: "kern"on, "liga"on, "calt"on;
  -moz-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -webkit-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -ms-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -o-font-feature-settings: "kern"on, "liga"on, "calt"on;
  font-variation-settings: 'wght'400;
}

p+p {
  margin-top: 1em;
}

.post-list blockquote {
  font-family: var(--font-family-serif);
  font-weight: 300;
  font-size: calc(var(--font-size-article) - 0.2vw);
  font-style: italic;
  margin: 1.5rem 0 1.5rem 2em;
  color: var(--grey);
}

blockquote p {
  font-family: var(--font-family-serif);
  font-weight: 300;
  font-size: calc(var(--font-size-large) - 0.2vw);
  font-style: italic;
  margin: 1.5rem 0;
  color: var(--grey);
}

.meta {
  font-family: var(--font-family-sans);
  font-size: calc(12px + 0.3vw);
  margin: 1em 0 1.5em;
  color: var(--grey);
  grid-column: 1/12;
}

ul {
  padding: 4rem 0 4rem 4rem;
}

li {
  list-style: disc;
}

.container ul {
  padding: 4rem 0 4rem 4rem;
}

.container li {
  font-size: var(--font-size-large);
}

.other-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.other-links li {
  list-style: none;
  display: inline-flex;
  margin-right: 1rem;
}

li.article-wrapper {
  list-style: none;
}

.intro-home p {
  font-size: var(--font-size-xlarge);
  font-weight: 800;
  font-family: var(--font-family-sans);
  line-height: var(--line-height-small);
  margin-bottom: 1em;
}

.intro-home p+p {
  text-indent: 0;
}

.intro-home a {
  border-bottom: none;
  text-underline-position: auto;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--green);
}

.intro-home a:hover {
  color: var(--green);
}

.about-intro {
  grid-column: 3/12;
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2/10;
  line-height: 2.2rem;
  font-size: var(--font-size);
  margin: 2rem 0 1.5rem;
}

.copyright h3 {
  font-size: var(--font-size-small);
  color: var(--white);
  margin: 0.5em 1em 0 0;
  font-weight: 400;
  font-style: oblique;
}

.home-container h3 {
  font-size: var(--font-size-xlarge);
  font-family: var(--font-family-sans);
  font-weight: 900;
  color: var(--white);
}

.post-list {
  font-size: var(--font-size-article);
  line-height: 1.8rem;
}

.post {
  margin-bottom: 1.5rem;
  grid-column: 2/16;
}

.post-content {
  grid-column: 5/16;
  margin-top: 0.5rem;
}

.post-content h3 a {
  border: none;
  padding: 0;
}

.post-content h3 a:hover {
  color: var(--ecto);
  background: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.post-meta {
  font-family: var(--font-family-sans);
  grid-column: 2/4;
}

img {
  border-style: none;
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

p+p img {
  margin: 1.5rem 0 2rem;
}

code,
pre {
  font-family: var(--font-family-mono);
  font-size: 0.8em;
  position: relative;
  background-color: var(--ecto);
  display: inline;
  padding: 1px 4px;
  color: var(--black);
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

sup {
  font-size: 1rem;
  line-height: var(--line-height);
}

.article-category {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-bottom: 2px solid var(--green);
  display: inline-block;
  margin-bottom: 1.2em;
  padding-bottom: 0.375em;
}

.article-meta {
  display: inline;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-article);
  font-style: italic;
  font-weight: 500;
  line-height: var(--line-height-small);
}

li.article-list-article {
  padding: 1.25rem;
  width: 100%;
  list-style: none;
}

li.article-list-article.newest a {
  color: var(--white);
  text-decoration: none;
}

li.article-list-article.newest a:hover {
  color: var(--ecto);
  transition: color 0.5s ease-in;
}

a.article-list-article-link {
  color: var(--white);
  display: block;
}

a.article-list-article-link:hover {
  color: var(--green);
  transition: color 1s ease-in;
  text-decoration: none;
}

h2.article-list-article-title {
  font-size: var(--font-size-article);
  line-height: var(--line-height-small);
}

.article__featured-image-container {
  align-self: end;
  grid-column: 1;
  grid-row: 2;
}

.article__featured-image {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}

.article__header {
  align-self: start;
  grid-column: 1/2;
  padding-left: 4rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.article__meta {
  display: flex;
  margin-top: 1rem;
}

h2.article__title {
  font: 6em 'BildVariableV2';
  font-feature-settings: "kern"on, "liga"on, "calt"on;
  -moz-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -webkit-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -ms-font-feature-settings: "kern"on, "liga"on, "calt"on;
  -o-font-feature-settings: "kern"on, "liga"on, "calt"on;
  font-variation-settings: 'wght'900, 'wdth'60;
  line-height: 1;
  margin: 1rem 0;
  text-transform: none;
}

article.archive-list,
section.article__body {
  grid-column: 2/12;
}

article.article__body {
  align-content: start;
  display: grid;
  justify-content: center;
  padding: 0 2.5rem 3rem;
  word-break: break-word;
}

.article__body a,
article.archive-list a {
  color: var(--ecto);
  text-decoration: underline;
  text-underline-offset: 0.12em;
  text-decoration-thickness: 0.07em;
  text-decoration-style: solid;
  text-decoration-color: var(--green);
}

.article__body a:hover,
article.archive-list a:hover {
  color: var(--white);
}

p.tag-wrap {
  display: inline-flex;
  font-size: var(--font-size);
}

a.postlist-link {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xlarge);
  color: var(--white);
  text-decoration-thickness: 0.01em;
  text-decoration-color: var(--white);
}

li.postlist-item {
  list-style: none;
}

time {
  font-family: var(--font-family-sans);
  color: var(--ecto);
}

h3.project__header {
  font: 2.25em var(--font-family-sans);
  font-weight: 900;
  padding: 1rem 0;
}

ul.project__list {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-article);
}

blockquote {
  background-color: var(--black);
  border-left: 5px solid var(--ecto);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-article);
  font-style: oblique;
  line-height: var(--line-height);
  margin: 3rem 0;
  padding: 1.5rem 3rem;
  width: auto;
}

blockquote:after {
  color: var(--grey);
  content: "\2013 \2003"attr(cite);
  display: block;
  font-size: 0.875em;
  text-align: right;
  padding: 2rem 2rem 0 0;
}

blockquote a {
  cursor: pointer;
  padding: 0 3px;
}

blockquote a:hover {
  color: #990000;
}

blockquote em {
  font-style: italic;
}

blockquote cite {
  color: #1da1f2;
  font-size: 1rem;
  display: block;
  margin-top: 2em;
  float: right;
}

blockquote cite:before {
  content: "\2014 \2009";
}

figcaption {
  font-family: var(--font-family-sans);
  font-style: oblique;
  font-size: var(--font-size-small);
  margin-top: -2rem;
  padding: 0 0 3rem;
  text-align: center;
}

span.italic {
  font-style: italic;
}

span.bolder {
  font-weight: 900;
}

h2.project__header {
  font-size: var(--font-size-xlarge);
  font-family: var(--font-family-heading-sm);
}

.home-img {
  width: 200px;
  height: 200px;
  float: right;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-margin: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.container {
  margin: 0;
  padding: 0;
}

.shape {
  width: 300px;
  height: 300px;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-margin: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

footer {
  grid-auto-flow: column;
  padding: 2rem 0 1rem;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-column: 2/8;
}

footer a:hover {
  transition: all 1.5s ease-in-out;
}

footer a:active,
footer a:link,
footer a:visited {
  color: var(--white);
}

footer a {
  padding: 0.25rem;
}

a.codepen:hover svg {
  color: #666666;
}

a.dribbble:hover svg {
  color: #ea4c89;
}

a.github:hover svg {
  color: #666666;
}

a.twitter:hover svg {
  color: #1da1f2;
}

a.rss:hover svg {
  color: #ec802b;
}

a.a11y:hover svg {
  color: #1259a7;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.contact {
  display: grid;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-large);
  font-weight: 400;
  grid-column: 4/10;
  letter-spacing: 1px;
  padding: 2rem;
}

.form-contact {
  margin: 2rem 0;
  padding: 0;
}

.form-container {
  margin: 0;
}

.form-fields {
  margin: 0;
  padding: 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: 5px solid var(--green);
  border-left: none;
  background: var(--white);
  margin: 0 0 1rem;
  padding: 0.75rem;
  font-size: 2rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea#message:focus,
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border-bottom: 5px solid var(--ecto);
}

textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

button[type="submit"] {
  cursor: pointer;
  width: auto;
  float: left;
  border: none;
  background: var(--ecto);
  color: var(--black);
  margin: 0 0 5px;
  padding: 10px;
  font-size: var(--font-size-large);
  font-weight: 500;
  font-family: var(--font-family-sans);
}

button[type="submit"]:hover {
  background: var(--green);
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid var(--grey);
}

::-webkit-input-placeholder {
  color: var(--grey);
}

:-moz-placeholder {
  color: var(--grey);
}

::-moz-placeholder {
  color: var(--grey);
}

:-ms-input-placeholder {
  color: var(--grey);
}

h2#hi {
  font-family: var(--font-family-serif);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.field {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-gap: inherit;
}

.field#hidden {
  visibility: hidden;
}

.contact form input,
.contact form textarea {
  font-family: var(--font-family-serif);
}

twitter-widget.twitter-tweet {
  justify-self: center;
  margin: 0 auto;
  padding: 3rem 0;
}

figure {
  display: grid;
}

div.content__placeholder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

img.content__image {
  justify-self: center;
  padding: 3rem 0;
  width: auto;
}

iframe,
video {
  justify-self: center;
  margin: 5rem 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  .about-intro {
    grid-column: 2/10;
    line-height: var(--line-height-medium);
  }

  .articles,
  article {
    grid-column: 2/10;
  }

  .page-container {
    grid-column: 2/12;
  }

  h2.project__header {
    font-size: var(--font-size-large);
  }

  p {
    font-size: var(--font-size-article);
  }

  blockquote p {
    line-height: var(--line-height-small);
  }
}

@media only screen and (max-width: 960px) {
  .wrapper {
    display: grid;
    grid-template-columns: [full-start] minmax(calc(calc(100% - 960px)/2), 1fr) [main-start] repeat(8, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 960px)/2), 1fr) [full-end];
  }

  main {
    display: grid;
    grid-template-columns: [full-start] minmax(calc(calc(100% - 960px)/2), 1fr) [main-start] repeat(8, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 960px)/2), 1fr) [full-end];
    grid-column: full;
  }

  header {
    margin: 3vh 0 6vh;
    grid-column: 1/10;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  .copyright,
  footer {
    grid-column: 2/10;
  }

  .intro-home {
    grid-column: 2/10;
    font-size: var(--font-size-large);
    font-weight: 600;
    line-height: var(--line-height-small);
  }

  .sections {
    grid-column: 2/10;
    font-size: var(--font-size-article);
    line-height: var(--line-height-small);
  }

  .article {
    grid-column: 2/10;
    font-size: var(--font-size-article);
  }
}

@media only screen and (max-width: 540px) {
  .wrapper {
    display: grid;
    grid-template-columns: [full-start] minmax(calc(calc(100% - 540px)/2), 0.3fr) [main-start] repeat(5, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 540px)/2), 0.3fr) [full-end];
  }

  main {
    display: grid;
    grid-template-columns: [full-start] minmax(calc(calc(100% - 540px)/2), 0.3fr) [main-start] repeat(5, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 540px)/2), 0.3fr) [full-end];
    grid-column: full;
  }

  header {
    margin: 1vh 0 2vh;
    grid-column: 2/7;
    justify-content: center;
  }

  h1.home {
    padding: 2rem;
  }

  header h1 {
    font-size: var(--heading3-font);
    line-height: var(--line-height-medium);
  }

  nav {
    display: flex;
  }

  ul.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main-nav li {
    margin-left: -2rem;
    padding: 2rem 0.25rem;
  }

  main h2 {
    line-height: var(--line-height-medium);
    margin-bottom: 3rem;
  }

  .intro-home p {
    font-size: var(--font-size-large);
    letter-spacing: 0.05rem;
  }

  .copyright,
  footer {
    grid-column: 2/7;
  }

  .intro-home {
    grid-column: 2/8;
    line-height: 1.8rem;
    margin-top: 1em;
    font-size: var(--font-size-article);
    font-weight: 600;
  }

  .article-sections {
    display: inline-block;
  }

  .article-wrapper:first-child,
  .article-wrapper:last-child,
  .article-wrapper:nth-child(2) {
    margin: 2rem 0 0;
  }

  .article__header {
    align-self: start;
    grid-column: 2/8;
    padding: 0;
    transform: none;
    writing-mode: initial;
  }

  .sections {
    display: grid;
    grid-column: 2/8;
    font-size: var(--font-size-article);
    line-height: var(--line-height-small);
  }

  section {
    margin: 0;
  }

  .sections li {
    font-family: var(--font-family-serif);
    margin: 0 0 1.5rem;
    width: calc(99% + 1vw);
  }

  h2.article__title {
    font: 3em 'BildVariableV2';
    font-variation-settings: 'wght'600, 'wdth'40;
  }

  .article__meta {
    flex: 1;
  }

  .articles {
    grid-column: 2/6;
    font-size: var(--font-size-article);
  }

  .articles h3 {
    padding: 0;
  }

  .page-container {
    grid-column: 2/11;
  }

  .shape {
    height: 200px;
    width: 200px;
    float: none;
  }

  h3 {
    font-size: var(--heading3-font);
  }

  .container ul {
    padding: 1rem 0 1rem 1rem;
  }

  .container li {
    font-size: var(--font-size-article);
  }

  .contact {
    grid-column: 2/12;
  }
}