title {
  font-family: sans-serif;
  color: black
}

subtitle {
  margin: 1em;
  color: red
}

entry title {
  text-align: right;
  margin-bottom: 2em
}

updated,
id,
link {
  line-height: 1.5;
  margin-left: 15%
}

link {
  color: blue
}

products {
  font-size: 80%;
  margin: 0.5em;
  font-family: Verdana;
  display: block
}

entry {
  display: block;
  border: 1px solid silver;
  margin: 0.5em;
  padding: 0.5em;
  background-color: whitesmoke;
}

name,
price,
stock,
country {
  display: block
}

name {
  color: red;
  text-decoration: underline
}

price {
  color: green
}

stock {
  color: brown
}

country {
  color: blue
}