---
layout: layouts/page.njk
date: 2019-06-07
permalink: /archives/
---

<section class="article__body">
  <h2>Archive</h2>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}

</section>
