---
layout: layouts/page.njk
title: sixtyten Archives
date: 2019-06-07
tags:
  - nav
navtitle: Archive
permalink: /archives/
---

<section class="article__body">
  <h2>sixyten Archives</h2>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}

</section>
