---
layout: layouts/page.njk
title: Archives
date: 2023-01-01
permalink: /archives/
---

<article class="archive-list">

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}

</article>