---
layout: layouts/page.njk
title: Archives
date: 2019-06-07
tags:
  - nav
navtitle: Archive
permalink: /archives/
---

<section class="article__body">

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}

</section>