---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<section class="article__body">
  <h2>Tagged “{{ tag }}”</h2>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>

</section>