---
permalink: /tags/
layout: layouts/page.njk
---

<div class="page-container">
  <section class="article__body">
    <h3>Tags</h3>

    {% for tag in collections.tagList %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}

  </section>
</div>