---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<div class="page-container">
  <section class="article__body">
    <h3>Tagged “{{ tag }}”</h3>

    {% set postslist = collections[ tag ] %}
    {% include "postslist.njk" %}

    <span class="alltags">See <a href="{{ '/tags/' | url }}">all tags</a></span>

  </section>
</div>