---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>For This Domain</h2>
        <p>This website is committed to providing an experience that is accessible to the widest possible audience, regardless of technology or ability. I am actively working to increase the accessibility and usability of my website and in doing so adhere to many of the available standards and guidelines as well as standards set by myself and user experiece/usability standards I have.</p>
        <p>This website strives to conform to level AA of the World Wide Web Consortium (W3C) <a href="http://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a>. These guidelines explain how to make web content more accessible for people with disabilities. Conformance with these guidelines will help make the web more user friendly for all people.</p>
        <p>This site has been built using code compliant with W3C standards for HTML and CSS. The site displays correctly in current browsers and using standards compliant HTML/CSS code means any future browsers will also display it correctly. For example, that means you should be able to:</p>
        <ul>
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p>I've also made the website text as simple as possible to understand.</p>
        <p>While *I strive to adhere to the accepted guidelines and standards for accessibility and usability for this website, it is not always possible to do so in all areas of the website.</p>
        <p>I am continually seeking out solutions that will bring all areas of the site up to the same level of overall web accessibility. In the meantime should you experience any difficulty in accessing this website, <a href="{{ '/contact' | url }}">please don't hesitate to contact me</a>.</p>
      </div>
    </section>
  </section>
</div>