---
layout: layouts/page.njk
templateClass: tmpl-post
---
  <article class="about">
    <figure class="article__featured-image-container">
      <img src="/img/twolights1.jpg" alt="Maine coastline. Rocks at Two Lights State Park" class="article__featured-image">
    </figure>

    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <div class="shape"><img src="/img/headshot.png" alt="Todd"></div>
          {{ content | safe }}
      </div>
    </section>
  </article>