---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="about-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <div class="shape"><img src="https://res.cloudinary.com/colabottles/image/upload/v1585002448/images/headshot_xheum6.png" class="lazy" alt="Todd" data-src="https://res.cloudinary.com/colabottles/image/upload/v1585002448/images/headshot_xheum6.png"></div>
          {{ content | safe }}
      </div>
    </section>
  </section>
</div>