  <section>
    <header class="article__header">
      <div class="article__meta">
        <time>Date / Time</time>
      </div>
      <h1 class="article__title">
        {{title}}
      </h1>
      <span class="article__author">
        by Todd
      </span>
    </header>

    <section class="article__body">
      {{ content | safe }}
    </section>
  </section>
  