<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="https://use.typekit.net/qhf5eph.css">
    <link rel="shortcut icon" type="image/png" href="{{ '/img/favicon.png' | url }}" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header role="group">
      <nav class="navbar" role="navigation">
        <a href="{{ '/' | url }}"><h1 class="home">{{ metadata.title }}</h1></a>
          <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="nav no-search" role="listbox" tabindex="0" title="navigation">            
            {%- for nav in collections.nav | sort(attribute="date") -%}
              <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}" tabindex="0" role="option" aria-selected="true">
                <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
              </li>
            {%- endfor -%}
            <script>
              $('.menu-toggle').click(function () {
                $(".nav").toggleClass("mobile-nav");
                $(this).toggleClass("is-active");
              });
            </script>
          </ul>
      </nav>
    </header>

    <main class="splash" role="main">
      <section id="left-panel">
        {{ content | safe }}
      </section>
      <section id="right-panel">
      
      </section>
    </main>

    <footer role="contentinfo">
      <a href="https://codepen.io/colabottles/#" class="codepen" aria-label="A link to my CodePen repository">
        <svg class="icon icon-codepen" role="img" aria-label="A link to my CodePen repository">
          <title>A link to my CodePen repository</title>
          <desc id="desc">A black icon in the shape of the CodePen logo which is a 3D cube.</desc>
          <use href="/img/symbol-defs.svg#icon-codepen" alt="A link to my CodePen repository"></use>
        </svg>
      </a>
      <a href="https://dribbble.com/colabottles/" class="dribbble" aria-label="A link to my Dribbble page">
        <svg class="icon icon-dribbble" role="img" aria-label="A link to my Dribbble portfolio">
          <title>A link to my Dribbble portfolio</title>
          <use href="/img/symbol-defs.svg#icon-dribbble"></use>
        </svg>
      </a>
      <a href="https://github.com/colabottles/" class="github" aria-label="A link to my GitHub page">
        <svg class="icon icon-github" role="img" aria-label="A link to my GitHub repository">
          <title>A link to my GitHub repository</title>
          <use href="/img/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
      <a href="https://twitter.com/toddlibby" class="twitter" aria-label="A link to my Twitter page">
        <svg class="icon icon-twitter" role="img" aria-label="A link to my Dribbble portfolio">
          <title>A link to my Twitter page</title>
          <use href="/img/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
      <a href="https://sixtyten.netlify.com/feed/feed.xml" class="rss" aria-label="A link to my RSS page">
        <svg class="icon icon-rss" role="img" aria-label="A link to this site's RSS feed">
          <title>A link to this site's RSS feed</title>
          <use href="/img/symbol-defs.svg#icon-rss"></use>
        </svg>
      </a>
      <a href="http://wave.webaim.org/report#/https://toddl.dev/" class="a11y" aria-label="WCAG 2.0 AA Passed a11y">
        <svg class="icon icon-accessible-icon" role="img" aria-label="A link to this site's WCAG 2.0 Accessibility test results">
          <title>A link to this site's WCAG 2.0 Accessibility test results</title>
          <use href="/img/symbol-defs.svg#icon-accessible-icon"></use>
        </svg>
      </a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <script defer src="{{ '../svgxuse.min.js' | url }}"></script>
  </body>
</html>
