<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="p:domain_verify" content="cb09c2fcfbe261d7926ac5162b998917"/>
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml">
    <link rel="icon" href="{{ '/img/favicon.png' | url }}" />
    <link rel="prefetch" as="script" href="{{ '../../svgxuse.min.js' | url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="#main" class="visible-hidden">Skip to content</a>
          <a href="{{ '/' | url }}" class="page-title" id="title">Todd Libby</a>
            <nav class="main-navigation" aria-label="main navigation">
              <ul class="navigation main-nav">
                {%- for nav in collections.nav | sort(attribute="date") -%}
                  <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
                    <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
      </header>

      <main id="main" class="home">
        {{ content | safe }}
      </main>

      <footer class="meta footer">
        <h2>&copy;1999 &mdash; 2023, Todd Libby.</h2>
          <nav class="footer-main-nav" aria-labelledby="todd">
            <ul class="nav list-inline">
              <li class="nav-item"><a href="{{ '/podcast' | url }}">Podcast</a></li>
              <li class="nav-item"><a href="{{ '/support' | url }}">Support</a></li>
              <li class="nav-item"><a href="{{ '/archives' | url }}">Archives</a></li>
              <li class="nav-item"><a href="{{ '/uses' | url }}">Uses</a></li>
              <li class="nav-item"><a href="{{ '/events' | url }}">Events</a></li>
              <li class="nav-item"><a href="{{ '/resources' | url }}">Resources</a></li>
              <li class="nav-item"><a href="{{ '/blogroll' | url }}">Blogroll</a></li>
              <li class="nav-item"><a href="{{ '/links' | url }}">Links</a></li>
              <li class="nav-item"><a href="{{ '/speaking' | url }}">Speaking</a></li>
              <li class="nav-item"><a href="{{ '/a11y' | url }}">Accessibility Statement</a></li>
            </ul>
          </nav>
        <h2>#BlackLivesMatter &middot; #StopAsianHate &middot; #FreePalestine &middot; #FreeUkraine &middot; #ProtectTransKids</h2>

        <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
          <h2 id="a11y-webring-club">a11y-webring.club</h2>
          <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
          <ul>
            <li><a rel="previous external" href="https://a11y-webring.club/prev">Previous website</a></li>
            <li><a rel="external" href="https://a11y-webring.club/random">Random website</a></li>
            <li><a rel="next external" href="https://a11y-webring.club/next">Next website</a></li>
          </ul>
        </nav>

        <nav>
          <ul class="footer-icons">
            <li>
              <a href="https://codepen.io/colabottles/#" class="codepen">
                <svg class="icon icon-codepen" focusable="false">
                  <title>My CodePen repository</title>
                  <desc id="codepen">A white 3D cube.</desc>
                  <use href="/img/symbol-defs.svg#icon-codepen"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/colabottles/" class="github">
                <svg class="icon icon-github" focusable="false">
                  <title>My GitHub repository</title>
                  <desc id="github">A white OctoCat.</desc>
                  <use href="/img/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://toddl.dev/feed/feed.xml" class="rss">
                <svg class="icon icon-rss" focusable="false">
                  <title>The RSS feed for this site</title>
                  <desc id="rss">A white RSS logo, a group of lines shaped like a speaker.</desc>
                  <use href="/img/symbol-defs.svg#icon-rss"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://toddl.dev/a11y/" class="a11y">
                <svg class="icon icon-accessible-icon" focusable="false">
                  <title>WAVE test results for this site</title>
                  <desc id="a11y">A person in a wheelchair that is the color white.</desc>
                  <use href="/img/symbol-defs.svg#icon-accessible-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
