---
layout: layouts/base.njk
templateClass: tmpl-post
---

<!-- Newest article to oldest -->

  <ul class="article-list">
    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2019/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2019, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/ux-burlington-2019/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          UX Burlington 2019
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <!-- <li class="article-list-article">
      <a class="article-list-article-link" href="">
        <span class="article-category">
          Design
        </span>
        <h2 class="article-list-article-title">
          Do's &amp; Don't On Designing for Accessibility
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="./article.html">
        <span class="article-category">
          Design
        </span>
        <h2 class="article-list-article-title">
          Your Body Text Is Too Small
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li> -->

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2018/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2018, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2017/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2017, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <!-- <li class="article-list-article">
      <a class="article-list-article-link" href="./article.html">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          Smashing Conference NYC 2019
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="./article.html">
        <span class="article-category">
          Design
        </span>
        <h2 class="article-list-article-title">
          Why Your Site Must Be Accessible
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="./article.html">
        <span class="article-category">
          Code, Design
        </span>
        <h2 class="article-list-article-title">
          An Introduction to CSS Grid Layout
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li> -->

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/maine-lobster-run-2017/">
        <span class="article-category">
          Adventure
        </span>
        <h2 class="article-list-article-title">
          Maine Lobster Run
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2008/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2008, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/typetura/">
        <span class="article-category">
          Discoveries
        </span>
        <h2 class="article-list-article-title">
          Typetura
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/carbon/">
        <span class="article-category">
          Discoveries
        </span>
        <h2 class="article-list-article-title">
          Carbon
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-introdcution-to-the-cascade">
        <span class="article-category">
          Code
        </span>
        <h2 class="article-list-article-title">
          An Introduction to the Cascade in CSS
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>
  </ul>