---
layout: layouts/base.njk
templateClass: tmpl-post
---

<!-- Newest article to oldest -->
  <ul class="article-list">
    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/that-guy.md">
        <span class="article-category">
          About, Bio
        </span>
        <h2 class="article-list-article-title">
          "That Guy"
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2019/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2019, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/ux-burlington-2019/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          UX Burlington 2019
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2018/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2018, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2017/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2017, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/maine-lobster-run-2017/">
        <span class="article-category">
          Adventure
        </span>
        <h2 class="article-list-article-title">
          Maine Lobster Run
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-event-apart-boston-2008/">
        <span class="article-category">
          Conferences
        </span>
        <h2 class="article-list-article-title">
          An Event Apart 2008, Wrap-Up Edition
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/typetura/">
        <span class="article-category">
          Discoveries, Tools
        </span>
        <h2 class="article-list-article-title">
          Typetura
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/carbon/">
        <span class="article-category">
          Discoveries, Tools
        </span>
        <h2 class="article-list-article-title">
          Carbon
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/an-introduction-to-the-cascade">
        <span class="article-category">
          Code, Design
        </span>
        <h2 class="article-list-article-title">
          An Introduction to the Cascade in CSS
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="/posts/why-your-site-must-be-accessible">
        <span class="article-category">
          Accessibility, Design
        </span>
        <h2 class="article-list-article-title">
          Why Your Site Must Be Accessible
        </h2>
        <p class="article-meta">
          By Todd
        </p>
      </a>
    </li>
  </ul>