---
layout: layouts/page.njk
templateClass: tmpl-post
---

  <div class="page-container">
    <ul class="article-list">
      <li class="article-list-article newest">
        <a class="article-list-article-link" href="/posts/tech-and-restaurants/">
          <span class="article-category">
            Update, Life, Thoughts
          </span>
          <h2 class="article-list-article-title">
            Update
          </h2>
        </a>
      </li>

      <li class="article-list-article">
        <a class="article-list-article-link" href="/posts/tech-and-restaurants/">
          <span class="article-category">
            Tech, Restaurants, Comparison, Common Ground
          </span>
          <h2 class="article-list-article-title">
            Tech & Restaurants
          </h2>
        </a>
      </li>

      <li class="article-list-article">
        <a class="article-list-article-link" href="/posts/that-was-short-lived/">
          <span class="article-category">
            Life, Web, Tech, Return
          </span>
          <h2 class="article-list-article-title">
            That Was Short-Lived
          </h2>
        </a>
      </li>

      <li class="article-list-article">
        <a class="article-list-article-link" href="/posts/devnexus-2024/">
          <span class="article-category">
           Conference, Devnexus, Web
          </span>
          <h2 class="article-list-article-title">
            Devnexus 2024
          </h2>
        </a>
      </li>

      <li class="article-list-article">
        <a class="article-list-article-link" href="/posts/the-decision-to-leave-tech/">
          <span class="article-category">
           Goodbye, Tech, Accessibility
          </span>
          <h2 class="article-list-article-title">
            The Decision to Leave Tech
          </h2>
        </a>
      </li>
    </ul>
  </div>
