---
layout: layouts/page.njk
templateClass: tmpl-post
---

    <div class="contact">
      <h2 id="hi">say hi!</h2>
        <form name="contact" method="POST" id="contact-form" netlify-honeypot="bot-field" data-netlify="true" data-netlify-recaptcha="true">
          <label for="bot" class="field" id="hidden">Don’t fill this out if you're human: 
            <input name="bot-field" type="text" aria-labelledby="contact-form">
          </label>
          <label for="name" class="field">Name:
            <input type="text" name="name" aria-labelledby="contact-form">
          </label>
          <label for="email" class="field">Email:
            <input type="email" name="email" aria-labelledby="contact-form">
          </label>
          <label for="url" class="field">URL:
            <input type="text" name="url" aria-labelledby="contact-form">
          </label>
          <label for="twitter" class="field">Twitter:
            <input type="text" name="twitter" aria-labelledby="contact-form">
          </label>
          <label for="message" class="field">Message:
            <textarea name="message" id="message" aria-labelledby="contact-form"></textarea>
          </label>
          <button type="submit" value="Submit">Submit</button>
        </form>
      </div>