---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="article-container">
  <h1>Events</h1>
  <h2>Upcoming</h2>
  <ul class="event-list">
    {# <li><h3>2022</h3></li>
    <li><h4>Attendee</h4></li>

    <li><h4>Speaker</h4></li> #}

    <li><h3>2021</h3></li>
    <li><h4>Attendee</h4></li>
    <li>9-10 June - Refactr.Tech, Atlanta, GA</li>

    <li><h4>Speaker</h4></li>

  </ul>
  <h2>Past Events</h2>
  <ul class="event-past">
    <li><h3>Speaker</h3></li>
    <li>2021 - HelloA11y GAAD 2021 - VIRTUAL <a href="https://youtu.be/6QxjNGCNptE?t=10595">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/Wu7yc5/start-your-a11y-journey-how-to-become-an-accessibility-advocate">SLIDES</a></li>
    <li>2020 - Virtual Coffee Lightning Talks - VIRTUAL<a href="https://youtu.be/ZHIgB3AKPkA">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/NJDuFV/start-your-a11y-journey-how-to-become-an-accessibility-advocate">SLIDES</a></li>
    <li>2020 - BarCamp Philly, VIRTUAL - <a href="https://youtu.be/_Jw1KTpcnVw">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/NGPAzX/contrasting-accessibility-with-color-contrast">SLIDES</a></li>
  </ul>
  <ul class="event-past">
    <li><h3>Attendee</h3></li>
    <li>2021 - Cssummer, VIRTUAL</li>
    <li>2021 - NextJS Conf, VIRTUAL</li>
    <li>2021 - AllyTO Camp, VIRTUAL</li>
    <li>2021 - Smashing Meets, VIRTUAL</li>
    <li>2021 - MagnoliaJS, VIRTUAL</li>
    <li>2021 - AccessU, VIRTUAL</li>
    <li>2020 - NextJS Conf, VIRTUAL</li>
    <li>2020 - An Event Apart, Online Together, Fall Summit, VIRTUAL</li>
    <li>2020 - Great North DevFest, VIRTUAL</li>
    <li>2020 - Connect.Tech, VIRTUAL</li>
    <li>2020 - Jamstack Conf, VIRTUAL</li>
    <li>2020 - Inclusive Design 24, VIRTUAL</li>
    <li>2020 - Config Europe, VIRTUAL</li>
    <li>2020 - LondonCSS, VIRTUAL</li>
    <li>2020 - Design 4 Drupal, VIRTUAL</li>
    <li>2020 - Clarity Conference, VIRTUAL</li>
    <li>2020 - An Event Apart, Front End Focus, VIRTUAL</li>
    <li>2020 - Juneteenth Conference, VIRTUAL</li>
    <li>2020 - JAMStack Virtual, VIRTUAL</li>
    <li>2020 - MagnoliaJS, VIRTUAL</li>
    <li>2020 - CodePen Meetup, VIRTUAL</li>
    <li>2019 - An Event Apart, Denver, CO</li>
    <li>2019 - An Event Apart, Boston, MA</li>
    <li>2019 - UX Burlington, Burlington, VT</li>
    <li>2018 - An Event Apart, Boston, MA</li>
    <li>2017 - An Event Apart, Boston, MA</li>
    <li>2008 - An Event Apart, Boston, MA</li>
  </ul>
  <h2>Podcasts &amp; Streams</h2>
  <ul class="podcast-list">
    <li>July 2021: Ep. 285 <a href="https://youtu.be/6ttbKtIRFMo">2021 ❤️ Conf-amigues 4 Life</a></li>
    <li>February 2021: <a href="https://anchor.fm/sparkyarcster/episodes/Episode-2---Todd-Libby-etlr45">Spark Connections</a></li>
    <li>February 2021: <a href="https://youtu.be/idyqPHD9uGA">The Practical Dev</a></li>
    <li>February 2021: <a href="https://youtu.be/aChBL4fsr2E">SomeAntics</a></li>
    <li>December 2020: <a href="https://www.twitch.tv/videos/824499882">Auth0</a></li>
    <li>June 2020: Ep. 237 <a href="https://youtu.be/5MKfiNZjSVg">Thunder Nerds</a></li>
    <li>June 2020: Ep. 236 <a href="https://youtu.be/VIvmyl00G-8">Thunder Nerds</a></li>
    <li>March 2020: Ep. 23 <a href="https://thatsmyjamstack.com/posts/todd-libby/">That's My Jamstack</a></li>
  </ul>
  <h2>Articles</h2>
  <ul class="event-list">
    <li>July 2021: <a href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/">Making A Strong Case For Accessibility</a></li>
    <li>June 2021: <a href="https://css-tricks.com/looking-at-wcag-2-5-5-for-better-target-sizes/">Looking at WCAG 2.5.5 for Better Target Sizes</a></li>
    <li>December 2020: <a href="https://css-tricks.com/whats-new-in-wcag-2-1-label-in-name/">What's New in WCAG 2.1: Label in Name</a></li>
  </ul>
  <h2>Elsewhere</h2>
  <ul class="event-list">
    <li>2020 - Participant, <a href="https://youtu.be/bT1YXw6MySc">User Defenders Book Club</a></li>
    <li>2019 - Videographer, <a href="https://youtu.be/i9mTeKl3NVQ">User Defenders Podcast An Event Apart, Denver, CO</a></li>
    <li>2019 - Participant, <a href="https://youtu.be/OfxEJvJ5GsQ">User Defenders Book Club Discussion</a></li>
  </ul>
</div>