---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="article-container">
  <h1>Events</h1>
  <h2>Upcoming</h2>
  <ul class="event-list">
    <li>1-3 September 2020 - Clarity Conference, ONLINE</li>
    <li>18-20 November 2020 - UI Arch Conference, New Orleans, LA</li>
    <li>15-17 September 2021 - Refactr.Tech, Atlanta, GA</li>
  </ul>
  <h2>Past Events</h2>
  <ul class="event-past">
    <li>2020 - Juneteenth Conference, ONLINE</li>
    <li>2020 - JAMStack Virtual, ONLINE</li>
    <li>2020 - MagnoliaJS, ONLINE</li>
    <li>2020 - CodePen Meetup, ONLINE</li>
    <li>2019 - An Event Apart, Denver, CO</li>
    <li>2019 - An Event Apart, Boston, MA</li>
    <li>2019 - UX Burlington, Burlington, VT</li>
    <li>2018 - An Event Apart, Boston, MA</li>
    <li>2017 - An Event Apart, Boston, MA</li>
    <li>2008 - An Event Apart, Boston, MA</li>
  </ul>
  <h2>Podcasts</h2>
  <ul class="podcast-list">
    <li>June 2020: Ep. 237 <a href="https://youtu.be/5MKfiNZjSVg">Thunder Nerds</a></li>
    <li>June 2020: Ep. 236 <a href="https://youtu.be/VIvmyl00G-8">Thunder Nerds</a></li>
    <li>March 2020: Ep. 23 <a href="https://thatsmyjamstack.com/posts/todd-libby/">That's My JAMStack</a></li>
  </ul>
  <h2>Elsewhere</h2>
  <ul class="event-list">
    <li>2019 - Videographer, <a href="https://youtu.be/i9mTeKl3NVQ">User Defenders Podcast An Event Apart, Denver, CO</a></li>
    <li>2019 - Participant, <a href="https://youtu.be/OfxEJvJ5GsQ">User Defenders Book Club Discussion</a></li>
  </ul>
</div>