---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="article-container">
  <h1>Events</h1>

  <h2>2024</h2>

  <ul class="event-list">
    <li>9-12 January 2024 - CodeMash - Sandusky, OH</li>
  </ul>

  <h2>2023</h2>

  <ul class="event-list">
    <li>24-26 October - Connect Tech - Atlanta, GA</li>
  </ul>

  <h2>Past Speaking Events</h2>
  <ul class="event-past">
    <li>2023 - MagnoliaJS - Jackson, MS <a href="https://noti.st/colabottles/W3YuwB/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2023 - KCDC - Kansas City, MO <a href="https://noti.st/colabottles/Q3zpwL/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2023 - DevNexus - Atlanta, GA <a href="https://noti.st/colabottles/5AUHLm/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2023 - Orlando Code Camp - Orlando, FL <a href="https://noti.st/colabottles/HMDpbS/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2023 - Halfstack Phoenix - Gilbert, AZ <a href="https://noti.st/colabottles/bqmKaC/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2023 - Codemash 2023 - Sandusky, OH <a href="https://noti.st/colabottles/tp43rp/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2022 - Modern Frontends Live, London, UK <a href="https://noti.st/colabottles/2d8lKi/deceptive-patterns-and-fast">SLIDES</a></li>
    <li>2022 - ConnectTech, Atlanta, GA <a href="https://noti.st/colabottles/h9ojoL/deceptive-patterns-and-fast">Deceptive Patterns Slides</a></li>
    <li>2022 - ConnectTech, Atlanta, GA <a href="https://noti.st/colabottles/vPO2HH/accessibility-overlays-why-you-should-avoid-them">Accessibility Overlay Slides</a></li>
    <li>2022 - MagnoliaJS, Jackson, MS - <a href="https://youtu.be/7Fu3fClkR1c">VIDEO</a> <a href=""></a></li>
    <li>2022 - Code PaLOUsa, Louisville, KY <a href="https://noti.st/colabottles/Em3aKQ/making-a-strong-case-for-accessibility">SLIDES</a></li>
    <li>2022 - KCDC, Kansas City, MO <a href="https://noti.st/colabottles/eHPdlN/the-four-principles-of-the-a-pour-calypse-the-harbingers-of-accessibility">POUR Slides</a></li>
    <li>2022 - KCDC, Kansas City, MO <a href="https://noti.st/colabottles/MBkT1n/making-the-pragmatic-business-case-for-accessibility">Business Case for Accessibility Slides</a></li>
    <li>2022 - Beer City Code, Grand Rapids, MI <a href="https://noti.st/colabottles/IjWu31/making-a-strong-case-for-accessibility">SLIDES</a></li>
    <li>2022 - Code on the Beach, Atlantic Beach, FL - <a href="https://youtu.be/MqyEQ4BRPmY">VIDEO</a></li>
    <li>2022 - DevNexus, Atlanta, GA <a href="https://noti.st/colabottles/SJME5e/making-a-strong-case-for-accessibility">SLIDES</a></li>
    <li>2021 - Connect Tech, Atlanta, GA - <a href="https://youtu.be/hNNl-t3Zx7Q">VIDEO</a></li>
    <li>2021 - Web Directions AAA - VIRTUAL <a href="https://noti.st/colabottles/gcPUQc/wcag-and-color-contrast">SLIDES</a></li>
    <li>2021 - #a11yTOConf - VIRTUAL <a href="https://conf.a11yto.com/">#a11yTO Conf</a></li>
    <li>2021 - Virtual Coffee Lunch &amp; Learn - VIRTUAL <a href="https://youtu.be/BhUtMZtv-DQ">VIDEO</a></li>
    <li>2021 - Virtual Coffee Lunch &amp; Learn - VIRTUAL <a href="https://youtu.be/MbLRilx7IXA">VIDEO</a></li>
    <li>2021 - HelloA11y GAAD 2021 - VIRTUAL <a href="https://youtu.be/6QxjNGCNptE?t=10595">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/Wu7yc5/start-your-a11y-journey-how-to-become-an-accessibility-advocate">SLIDES</a></li>
    <li>2020 - Virtual Coffee Lightning Talks - VIRTUAL <a href="https://youtu.be/ZHIgB3AKPkA">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/NJDuFV/start-your-a11y-journey-how-to-become-an-accessibility-advocate">SLIDES</a></li>
    <li>2020 - BarCamp Philly, VIRTUAL - <a href="https://youtu.be/_Jw1KTpcnVw">VIDEO</a>&nbsp; <a href="https://noti.st/colabottles/NGPAzX/contrasting-accessibility-with-color-contrast">SLIDES</a></li>
  </ul>

  <h2>Podcasts &amp; Streams</h2>
  <ul class="podcast-list">
    <li>December 2022: <a href="https://youtu.be/2ivODfxrDR4">iamdeveloper.live w/ Nick Taylor</a></li>
    <li>November 2022: <a href="https://youtu.be/sNwkyLpCCgc">Compressed FM w/Amy Dutton & James Q. Quick</a></li>
    <li>September 2022: <a href="https://someantics.dev/deceptive-patterns-and-fast/">SomeAntics w/Ben Myers</a></li>
    <li>September 2022: <a href="https://a11ytalks.com/posts/2022-SEP">A11y Talks</a></li>
    <li>December 2021: <a href="https://youtu.be/edhzUEO79ds">How To Business with Fredrick Weiss</a></li>
    <li>October 2021: <a href="https://www.learnwithjason.dev/understanding-color-contrast-for-accessibility">Learn With Jason</a></li>
    <li>October 2021: <a href="https://youtu.be/BhUtMZtv-DQ">Virtual Coffee Lunch &amp; Learn</a></li>
    <li>October 2021: <a href="https://youtu.be/8R2Zv8Ic0Cc">Virtual Coffee Twitch Channel</a></li>
    <li>October 2021: <a href="https://virtualcoffee.io/podcast/0402-todd-libby/">Virtual Coffee</a></li>
    <li>September 2021: <a href="https://www.greaterthancode.com/diplomatic-accessibility-advocacy">Greater Than Code</a></li>
    <li>August 2021: <a href="https://youtu.be/eTJKI1q_k5w">Dev Roulette</a></li>
    <li>July 2021: Ep. 285 <a href="https://youtu.be/6ttbKtIRFMo">Thunder Nerds</a></li>
    <li>February 2021: <a href="https://anchor.fm/sparkyarcster/episodes/Episode-2---Todd-Libby-etlr45">Spark Connections</a></li>
    <li>February 2021: <a href="https://youtu.be/idyqPHD9uGA">The Practical Dev</a></li>
    <li>February 2021: <a href="https://youtu.be/aChBL4fsr2E">SomeAntics</a></li>
    <li>December 2020: <a href="https://www.twitch.tv/videos/824499882">Auth0</a></li>
    <li>June 2020: Ep. 237 <a href="https://youtu.be/5MKfiNZjSVg">Thunder Nerds</a></li>
    <li>June 2020: Ep. 236 <a href="https://youtu.be/VIvmyl00G-8">Thunder Nerds</a></li>
    <li>March 2020: Ep. 23 <a href="https://thatsmyjamstack.com/posts/todd-libby/">That's My Jamstack</a></li>
    <li>2020 <a href="https://youtu.be/bT1YXw6MySc">User Defenders Book Club</a></li>
    <li>2019 <a href="https://youtu.be/OfxEJvJ5GsQ">User Defenders Book Club Discussion</a></li>
  </ul>

  <h2>Articles</h2>
  <ul class="event-list">
    <li>July 2022: <a href="https://www.a11yproject.com/posts/using-firefox-for-accessibility-testing/">Use Firefox for Accessibility Testing</a></li>
    <li>July 2021: <a href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/">Making A Strong Case For Accessibility</a></li>
    <li>June 2021: <a href="https://css-tricks.com/looking-at-wcag-2-5-5-for-better-target-sizes/">Looking at WCAG 2.5.5 for Better Target Sizes</a></li>
    <li>December 2020: <a href="https://css-tricks.com/whats-new-in-wcag-2-1-label-in-name/">What's New in WCAG 2.1: Label in Name</a></li>
  </ul>
</div>
