---
layout: layouts/base.njk
templateClass: tmpl-home
---

    <!-- THIRD OLDEST ARTICLE -->
    <section class="promoted-articles">
      <a href="/posts/maine-lobster-run-2017/" class="promoted-articles__article">
        <img class="promoted-articles__image" 
          src="/img/cookslobsterhouse.jpg" alt="Lobster lunch at Cook's Lobster House, Bailey's Island, Maine" />
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            Maine Lobster Run
          </h2>
        </div>
      </a>

      <!-- SECOND OLDEST ARTICLE -->
      <a href="/posts/ux-burlington-2019/" class="promoted-articles__article promoted-articles__article--short-height">
        <img class="promoted-articles__image" src="/img/uxburlington19badge.jpg" alt="My bade with my name and company name on it for UX Burlington 2019">
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            UX Burlington
          </h2>
        </div>
      </a>

      <!-- FOURTH OLDEST ARTICLE -->
      <a href="/posts/an-event-apart-boston-2017/" class="promoted-articles__article promoted-articles__article--short-height">
        <img class="promoted-articles__image" src="/img/aeabos17-room1.jpg" alt="The main conference room at An Event Apart Boston 2017">
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            An Event Apart 2017
          </h2>
        </div>
      </a>

      <!-- OLDEST ARTICLE -->
      <a href="/posts/an-event-apart-boston-2018/" class="promoted-articles__article promoted-articles__article--short-height">
        <img class="promoted-articles__image" src="/img/aeabos18-meyer.jpg" alt="Eric Meyer on stage at An Event Apart Boston 2018">
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            An Event Apart 2018
          </h2>
        </div>
      </a>

      <!-- LAST ARTICLE WRITTEN -->
      <a href="/posts/an-event-apart-boston-2019/" class="promoted-articles__article">
        <img class="promoted-articles__image" src="/img/aeabos19-gameshow.jpg" alt="Dan Mall's game show called Name That Design System!">
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            An Event Apart 2019
          </h2>
        </div>
      </a>

      <!-- NEWEST ARTICLE -->
      <a href="/posts/that-guy/" class="promoted-articles__article promoted-articles__article--short-height">
        <img class="promoted-articles__image" src="/img/dontfeedthetrolls.jpg" alt="AA street sign that reads 'Don't Feed the Trolls!'">
        <div class="promoted-articles__content">
          <h2 class="promoted-articles__title">
            "That Guy"
          </h2>
        </div>
      </a>
    </section>