---
layout: layouts/base.njk
templateClass: tmpl-home
---

  <article class="about-intro">
    <div class="home-container">
      <h2>Hello!</h2>
      <h3>Welcome to my website. Here you will see what I do, what I think, and what I have to share with you, the visitor. Want to hire me because you need accessible websites or applications&quest;</h3>
      <p>Looking to make those pesky React apps fully accessible and inclusive&quest; Feel free to contact me, I am looking for full-time employment. I love what I do and I am damn good at my job. Making things accessible and inclusive.</p>
    </div>
  </article>

  <div class="articles">
    <h3>Latest Articles</h3>
      <ul class="article-sections">
        <li class="article-wrapper">
          {%- for post in collections.screenreader | reverse -%}
            <a href="{{ post.url }}">
              <img src="https://res.cloudinary.com/colabottles/image/upload/v1605609914/images/accessibility.jpg" alt="A user sitting in front of a computer using a Braille reader" loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1605609914/images/accessibility.jpg" class="lazyload" />
              <h4>{{ post.data.title }}</h4>
            </a>
          {%- endfor -%}
        </li>

        <li class="article-wrapper">
          {%- for post in collections.anxiety | reverse -%}
          <a href="{{ post.url }}">
            <img src="https://res.cloudinary.com/colabottles/image/upload/v1603962096/images/anxiety.jpg" alt="A woman clutching at the neck line of her shirt with eyes closed in contemplation." loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1603962096/images/anxiety.jpg" class="lazyload" />
            <h4>{{ post.data.title }}</h4>
          </a>
          {%- endfor -%}
        </li>

        <li class="article-wrapper">
          {%- for post in collections.career | reverse -%}
          <a href="{{ post.url }}">
            <img src="https://res.cloudinary.com/colabottles/image/upload/v1603978187/images/dr_strangelove.jpg" alt="Slim Pickens in Doctor Strangelove riding the atom bomb." loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1603978187/images/dr_strangelove.jpg" class="lazyload" />
            <h4>{{ post.data.title }}</h4>
          </a>
          {%- endfor -%}
        </li>
      </ul>
    </div>