---
layout: layouts/base.njk
templateClass: tmpl-home
---

  <div class="intro-home">
    <h2>Hello!</h2>
    <p>This is my personal site where I write about technology, web, and other miscellaneous things. Have a look around and enjoy!</p>
  </div>

  <article class="about-intro">
    <div class="home-container">
      <div class="home-img"><img src="https://res.cloudinary.com/colabottles/image/upload/v1595397255/images/todd.webp" alt="Headshot of Todd" class="lazyload" data-src="https://res.cloudinary.com/colabottles/image/upload/v1595397255/images/todd.webp"></div>
        <h3>I enjoy learning web/programming/design on the web. I am currently self-taught in all areas of HTML, CSS, and vanilla JavaScript, and proficient with React. I am learning Vue and NextJS, experimenting with all sorts of cool CSS features, and immersed in some User Experience courses. I just finished and became certified in a W3C Introduction to Accessibility course and I am very passionate about accessibility on the web as well as diversity and inclusion in tech.</h3>
    </div>
  </article>

  <div class="articles">
    <h3>Latest Articles</h3>
      <ul class="article-sections">

        <li class="article-wrapper">
          {%- for post in collections.career | reverse -%}
          <a href="{{ post.url }}"><img src="https://res.cloudinary.com/colabottles/image/upload/v1598380281/images/slim_dv7unj.webp" alt="Slim Pickens in Doctor Strangelove riding the atom bomb." loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1598380281/images/slim_dv7unj.webp" class="lazyload" />
            <h4>{{ post.data.title }}</h4></a>
          {%- endfor -%}
        </li>

        <li class="article-wrapper">
          {%- for post in collections.rwd | reverse -%}
            <a href="{{ post.url }}"><img src="https://res.cloudinary.com/colabottles/image/upload/v1595396482/images/rwd.webp" alt="The A Book Apart book number four, Responsive Web Design by Ethan Marcotte" loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1595396482/images/rwd.webp" class="lazyload" />
            <h4>{{ post.data.title }}</h4></a>
          {%- endfor -%}
        </li>

        <li class="article-wrapper">
          {%- for post in collections.zoom | reverse -%}
          <a href="{{ post.url }}"><img src="https://res.cloudinary.com/colabottles/image/upload/v1595395519/images/zoom.webp" alt="The Zoom logo on a blue background." loading="lazy" data-src="https://res.cloudinary.com/colabottles/image/upload/v1595395519/images/zoom.webp" class="lazyload" />
            <h4>{{ post.data.title }}</h4></a>
          {%- endfor -%}
        </li>
      </ul>
    </div>