---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="about-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
          <a href="https://noti.st/colabottles/SJME5e/making-a-case-for-accessibility">Slides</a>
          <a href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/">Article</a>
          <a href="https://webaim.org/projects/million/">WebAIM Million Report</a>
          <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a>
          <a href="https://www.overlayfactsheet.com/">Overlay Fact Sheet</a>
          <a href="https://adrianroselli.com/2020/06/accessibe-will-get-you-sued.html">AccessiBe Will Get You Sued</a>
          <a href="https://adrianroselli.com/2021/09/userway-will-get-you-sued.html">UserWay Will Get You Sued</a>
          <a href="https://www.zeldman.com/2019/12/01/bluebeanieday2019/">Jeffrey Zeldman</a>
      </div>
    </section>
  </section>
</div>