---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Links to places I am on the Web</h2>
        <ul>
          <li><a href="https://twitter.com/toddlibby">Todd on Twitter</a></li>
          <li><a href="https://github.com/colabottles">Todd on GitHub</a></li>
          <li><a href="https://youtube.com/@frontendnerdery">Front End Nerdery Podcast</a></li>
          <li><a href="https://www.twitch.tv/toddlibby">Todd on Twitch</a></li>
          <li><a href="https://codepen.io/colabottles">Todd on CodePen</a></li>
          <li><a href="https://facebook.com/toddlibby71">Todd on Facebook</a></li>
        </ul>

        <h2>Links from Accessibility workshop at CodeMash 2024</h2>
        <ul>
          <li><a href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/">Making A Strong Case For Accessibility Article</a></li>
          <li><a href="https://training.section508testing.net/">Trusted Tester Certification</a></li>
          <li><a href="https://whocanuse.com">Who Can Use Color Contrast Checker</a></li>
          <li><a href="https://www.youtube.com/watch?v=E-qD-ozdXIo">Sip &amp; Puff Machine Demo</a></li>
          <li><a href="https://www.youtube.com/watch?v=XB4cjbYywqg">Apple Commercial - Sady</a></li>
          <li><a href="https://inclusive-components.design/">Inclusive Components</a></li>
          <li><a href="https://overlayfactsheet.com/">Overlay Fact Sheet</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
