---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Links to places I am on the Web</h2>
        <ul>
          <li><a href="https://staging.bsky.app/profile/toddl.dev">Todd on BlueSky</a></li>
          <li><a rel="me" href="https://a11y.info/@todd">Todd on Mastodon</a></li>
          <li><a href="https://twitter.com/toddlibby">Todd on Twitter</a></li>
          <li><a href="https://github.com/colabottles">Todd on GitHub</a></li>
          <li><a href="https://youtube.com/frontendnerdery">Front End Nerdery Podcast</a></li>
          <li><a href="https://www.twitch.tv/toddlibby">Todd on Twitch</a></li>
          <li><a href="https://codepen.io/colabottles">Todd on CodePen</a></li>
          <li><a href="https://instagram.com/colabottles207">Todd on IG</a></li>
          <li><a href="https://facebook.com/toddlibby71">Todd on Facebook</a></li>
          <li><a href="https://dev.to/colabottles">Todd on Dev</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
