<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="https://use.typekit.net/qhf5eph.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {% set js %}
      {% include "/js/script.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="grad-bar"></div>
        <nav class="navbar">
          <h1 class="home">{{ metadata.title }}</h1>
            <div class="menu-toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
            <ul class="nav no-search">
              {%- for nav in collections.nav | sort(attribute="date") -%}
                <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
                  <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
                </li>
              {%- endfor -%}
              <form action="#" role="search">
                <input class="search-input" name="search" type="text" aria-label="search" />
              </form>
              <i class="fas fa-search" id="search-icon"></i>
            </ul>
          </nav>
    </header>

    {{ content | safe }}

    <footer>
      <a href="https://codepen.io/colabottles/#" class="codepen"><i class="fab fa-codepen"></i><span class="middot">&middot;</span></a>
      <a href="https://dribbble.com/colabottles/" class="dribbble"><i class="fab fa-dribbble"></i><span class="middot">&middot;</span></a>
      <a href="https://github.com/colabottles/" class="github"><i class="fab fa-github"></i><span class="middot">&middot;</span></a>
      <a href="https://gitlab.com/colabottles" class="gitlab"><i class="fab fa-gitlab"></i><span class="middot">&middot;</span></a>
      <a href="https://www.last.fm/user/toddlibby" class="lastfm"><i class="fab fa-lastfm"></i><span class="middot">&middot;</span></a>
      <a href="https://open.spotify.com/user/six03?si=eJrFjDfrRpyEkCRba63Glw" class="spotify"><i class="fab fa-spotify"></i><span class="middot">&middot;</span></a>
      <a href="https://twitter.com/toddlibby" class="twitter"><i class="fab fa-twitter"></i><span class="middot">&middot;</span></a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
