---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Find the Front End Nerdery Podcast at:</h2>

        <ul>
          <li><a href="https://open.spotify.com/show/4HSxbhC8ZLRcon3o5HRFEq">Spotify</a></li>
          <li><a href="https://podcasts.apple.com/us/podcast/front-end-nerdery-podcast/id1537328655">Apple Podcasts</a></li>
          <li><a href="https://anchor.fm/frontendnerdery">Anchor FM</a></li>
          <li><a href="https://pca.st/nk1fkvan">Pocket Casts</a></li>
          <li><a href="https://www.breaker.audio/front-end-nerdery-podcast">Breaker</a></li>
          <li><a href="https://castbox.fm/podcasts/Front-End-Nerdery-Podcast">Castbox</a></li>
          <li><a href="https://overcast.fm/+lQ3XJIL2A">Overcast</a></li>
          <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zYTkxNWQ5MC9wb2RjYXN0L3Jzcw==">Google Podcasts</a></li>
          <li><a href="https://radiopublic.com/front-end-nerdery-podcast-GEEqlg">RadioPublic</a></li>
        </ul>

        <p>Here is the link to the RSS feed for the podcast if you're an RSS fan! <a href="https://anchor.fm/s/3a915d90/podcast/rss">Front End Nerdery RSS Feed</a></p>

        <h3>Season Guide</h3>

        <ul>
          <li><a href="https://toddl.dev/podcast/season-one">Season One</a></li>
          <li><a href="https://toddl.dev/podcast/season-two">Season Two</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>