---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Find the Front End Nerdery Podcast at:</h2>

        <ul>
          <li><a href="https://open.spotify.com/show/4HSxbhC8ZLRcon3o5HRFEq">Spotify</a></li>
          <li><a href="https://podcasts.apple.com/us/podcast/front-end-nerdery-podcast/id1537328655">Apple Podcasts</a></li>
          <li><a href="https://anchor.fm/frontendnerdery">Anchor FM</a></li>
          <li><a href="https://pca.st/nk1fkvan">Pocket Casts</a></li>
          <li><a href="https://www.breaker.audio/front-end-nerdery-podcast">Breaker</a></li>
          <li><a href="https://castbox.fm/podcasts/Front-End-Nerdery-Podcast">Castbox</a></li>
          <li><a href="https://overcast.fm/+lQ3XJIL2A">Overcast</a></li>
          <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zYTkxNWQ5MC9wb2RjYXN0L3Jzcw==">Google Podcasts</a></li>
          <li><a href="https://radiopublic.com/front-end-nerdery-podcast-GEEqlg">RadioPublic</a></li>
        </ul>

        <p>Here is the link to the RSS feed for the podcast if you're an RSS fan! <a href="https://anchor.fm/s/3a915d90/podcast/rss">Front End Nerdery RSS Feed</a></p>

        <h3>Welcome to the home of the Front End Nerdery Podcast.</h3>

        <h3>Intro:</h3>

        <p>Welcome to the Front End Nerdery Podcast. I&#8217;m your host, Todd Libby and I am glad you could join me. For this inaugural episode, this will be a short introduction into what you can expect from this podcast.</p>

        <p>The Front End Nerdery Podcast is a podcast focused on front end development but from time-to-time, we&#8217;ll talk about other spaces of web design and development such as User Experience, Back End Development, Design Systems, and much more.</p>

        <p>I&#8217;ll be talking to guests from all around the web about what they do and what they love about their work. The first season will start next year in January 2021. I hope to have some guests to talk to and will be looking to keep the episodes under an hour.</p>

        <p>I am not sure what the frequency of episodes will be. Right now, I only plan to have monthly episodes as I am trying to keep costs down to a minimum unless sponsorship comes along as to where I am able to afford transcribing and audio editing. I plan to do these things by myself, so therein lies the challenge to keep costs limited.</p>

        <p>Episodes will run uninterrupted for the time being. I want to make this as authentic and as natural flowing a podcast as possible. I may even throw in a few analogies or stories about lobsters, for all of you who know me and are guessing if I would do that or not. I mean, why disappoint?</p>

        <p>I plan to reach out and try to get my first guest booked shortly. Until then, it&#8217;s a secret as to whom that may be. I am not going to spoil it and I certainly won&#8217;t give away any clues. I think it is fitting that this person be my first guest. So hopefully they will agree.</p>

        <p>Until then, thanks for stopping by. Please subscribe and star these episodes as soon as they are released. You can find out more about me at my website https://toddl.dev or on Twitter, where I am @toddlibby. Thanks for listening and see you next time.</p>
      </div>
    </section>
  </section>
</div>