---
layout: layouts/page.njk
templateClass: tmpl-page
---
  <article>
    <figure class="article__featured-image-container">
      <img src="/img/fieldnotes.jpg" alt="Field Notes Brand memo books" class="article__featured-image">
    </figure>

    <header class="article__header" role="banner">
      <h2 class="article__title">
        {{title}}
      </h2>
      <div class="article__meta">
        <time>{{page.date | htmlDateString}}</time>
      </div>
    </header>

    <section class="article__body" role="region">
      {{ content | safe }}
    </section>
  </article>