---
layout: layouts/base.njk
templateClass: tmpl-post
---
  <article>
    <figure class="article__featured-image-container">
      <img src="https://live.staticflickr.com/65535/48050868726_4e48ae9112_o.jpg"
        alt="Field Notes Brand memo books" class="article__featured-image">
    </figure>

    <header class="article__header">
      <div class="article__meta">
        <time>{{page.date | htmlDateString}}</time>
      </div>
      <h1 class="article__title">
        {{title}}
      </h1>
      <span class="article__author">
        by Todd
      </span>
    </header>

    <section class="article__body">
      {{ content | safe }}
    </section>
  </article>