---
layout: layouts/page.njk
templateClass: tmpl-post
---

  <ul class="article-list">
    <li class="article-list-article newest">
        <a class="article-list-article-link" href="https://conwayrec.com">
          <span class="article-category">
            Website, WordPress 
          </span>
          <h2 class="article-list-article-title">
            Conway Parks &amp; Recreation
          </h2>
          <p class="article-meta">
            by Todd
          </p>
        </a>
    </li>
  </ul>