---
layout: layouts/page.njk
templateClass: tmpl-post
---

<ul class="page-container">
  <h2 class="project__header">You can view all past projects on these sites;</h2>
  <ul class="project__list">
    <li><a href="https://github.com/colabottles/">GitHub</a></li>
  </ul>

  <p>I will have more projects that I can put up here soon.</p>
</div>