---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Here is where you can find the recipes for all the delicious food I make on the <a href="https://youtube.com/@toddcooksstuff">YouTube channel</a>!</h2>

        <ul>
          <li><a href="{{ './food/barbecuesauce' | url }}">Barbecue Sauce</a></li>
          <li><a href="{{ './food/chicxsauce' | url }}">Chicken Dipping Sauce</a></li>
          <li><a href="{{ './food/ranchdressing' | url }}">Ranch Dressing</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
