---
layout: layouts/page.njk
templateClass: tmpl-post
---

  <ul class="article-list">
    <li class="article-list-article newest">
        <a class="article-list-article-link" href="https://www.youtube.com/mozilladeveloper">
          <span class="article-category">
            Resource, Videos 
          </span>
          <h2 class="article-list-article-title">
            Mozilla Developer
          </h2>
          <p class="article-meta">
            from Mozilla
          </p>
        </a>
      </li>

    <li class="article-list-article">
        <a class="article-list-article-link" href="https://userdefenders.com/">
          <span class="article-category">
            Resource, User Experience, Podcast 
          </span>
          <h2 class="article-list-article-title">
            User Defenders
          </h2>
          <p class="article-meta">
            from Jason Ogle
          </p>
        </a>
      </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://stephaniewalter.design/blog/fun-places-to-learn-css-layout-part-2-grid-layout/">
        <span class="article-category">
          Resource, CSS 
        </span>
        <h2 class="article-list-article-title">
          Fun places to learn CSS Layout –  Part 2: Grid Layout
        </h2>
        <p class="article-meta">
          from Stéphanie Walter
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://stephaniewalter.design/blog/fun-places-learn-css-layout-part-1-flexbox/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Fun places to learn CSS Layout –  Part 1: Flexbox
        </h2>
        <p class="article-meta">
          from Stéphanie Walter
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          CSS Grid Layout
        </h2>
        <p class="article-meta">
          from Mozilla Developer Network
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://css-tricks.com/snippets/css/complete-guide-grid/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          A Complete Guide to Grid
        </h2>
        <p class="article-meta">
          from CSS-Tricks
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          A Complete Guide to Flexbox
        </h2>
        <p class="article-meta">
          from CSS-Tricks
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Grids
        </h2>
        <p class="article-meta">
          from Mozilla Developer Network
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.youtube.com/channel/UCJ0_R6U3ZClQDGpVJNjuPAQ">
        <span class="article-category">
          Resource, Videos
        </span>
        <h2 class="article-list-article-title">
          Rachel Andrew on YouTube
        </h2>
        <p class="article-meta">
          from Rachel Andrew
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://labs.jensimmons.com/">
        <span class="article-category">
          Resource, Videos
        </span>
        <h2 class="article-list-article-title">
          Layout Land
        </h2>
        <p class="article-meta">
          from Jen Simmons
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://labs.jensimmons.com/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Web Design Experiments
        </h2>
        <p class="article-meta">
          from Jen Simmons
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Flexbox
        </h2>
        <p class="article-meta">
          from Mozilla Developer Network
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://gridbyexample.com/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Grid By Example
        </h2>
        <p class="article-meta">
          from Rachel Andrew
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://learncssgrid.com/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Learn CSS Grid
        </h2>
        <p class="article-meta">
          from Jonathan Suh
        </p>
      </a>
    </li>
    
    <li class="article-list-article">
      <a class="article-list-article-link" href="https://cssgrid-generator.netlify.com/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          CSS Grid Generator
        </h2>
        <p class="article-meta">
          from Sarah Drasner
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://rachelandrew.co.uk/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Rachel Andrew
        </h2>
        <p class="article-meta">
          from Rachel Andrew
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://jensimmons.com/">
        <span class="article-category">
          Resource, CSS
        </span>
        <h2 class="article-list-article-title">
          Jen Simmons
        </h2>
        <p class="article-meta">
          from Jen Simmons
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://typetura.com/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Typetura
        </h2>
        <p class="article-meta">
          from Scott Kellum &amp; Sal Hernanadez
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://carbon.now.sh/">
        <span class="article-category">
          Resource, Code
        </span>
        <h2 class="article-list-article-title">
          Carbon
        </h2>
        <p class="article-meta">
          from Dawn Labs
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://rwt.io/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Responsive Web Typography
        </h2>
        <p class="article-meta">
          from Jason Pamental
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.axis-praxis.org/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Axis-Praxis
        </h2>
        <p class="article-meta">
          from Laurence Penney
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://v-fonts.com">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          V-Fonts
        </h2>
        <p class="article-meta">
          from Nick Sherman
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://wakamaifondue.com/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Wakami Fondue
        </h2>
        <p class="article-meta">
          from Roel Nieskens/PixelAmbacht
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.marksimonson.com/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Mark Simonson Studio
        </h2>
        <p class="article-meta">
          from Mark Simonson
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://djr.com/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          David Jonathan Ross
        </h2>
        <p class="article-meta">
          from David Jonathan Ross
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://fontofthemonth.club/">
        <span class="article-category">
          Resource, Fonts
        </span>
        <h2 class="article-list-article-title">
          Font of the Month Club
        </h2>
        <p class="article-meta">
          from David Jonathan Ross
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://developer.mozilla.org/en-US/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          MDN Web Docs
        </h2>
        <p class="article-meta">
          from Mozilla Developer Network
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://github.com/">
        <span class="article-category">
          Software
        </span>
        <h2 class="article-list-article-title">
          GitHub
        </h2>
        <p class="article-meta">
          from GitHub
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://wave.webaim.org/">
        <span class="article-category">
          Tools
        </span>
        <h2 class="article-list-article-title">
          WAVE Web Accessibility Evalutation Tool
        </h2>
        <p class="article-meta">
          from WebAIM
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.smashingmagazine.com/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          Smashing Magazine
        </h2>
        <p class="article-meta">
          from Impressum
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.mozilla.org/en-US/firefox/">
        <span class="article-category">
          Browsers
        </span>
        <h2 class="article-list-article-title">
          Firefox
        </h2>
        <p class="article-meta">
          from Mozilla
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly">
        <span class="article-category">
          Browsers
        </span>
        <h2 class="article-list-article-title">
          Firefox Nightly
        </h2>
        <p class="article-meta">
          from Mozilla
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://alistapart.com/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          A List Apart
        </h2>
        <p class="article-meta">
          from A List Apart
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.netlify.com/">
        <span class="article-category">
          Platform
        </span>
        <h2 class="article-list-article-title">
          Netlify
        </h2>
        <p class="article-meta">
          from Netlify
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.11ty.io/">
        <span class="article-category">
          Tools
        </span>
        <h2 class="article-list-article-title">
          11ty - <a href="https://twitter.com/eleven_ty">Eleventy</a>
        </h2>
        <p class="article-meta">
          from <a href="https://twitter.com/zachleat/">Zach Leatherman</a>
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://www.w3.org/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          W3C
        </h2>
        <p class="article-meta">
          from W3C
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://codepen.io/">
        <span class="article-category">
          Tools
        </span>
        <h2 class="article-list-article-title">
          Codepen
        </h2>
        <p class="article-meta">
          From Codepen
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://css-tricks.com/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          CSS-Tricks
        </h2>
        <p class="article-meta">
          from Chris Coyier
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://webaim.org/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          WebAIM
        </h2>
        <p class="article-meta">
          from WebAIM
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://aneventapart.com/">
        <span class="article-category">
          Conference
        </span>
        <h2 class="article-list-article-title">
          An Event Apart
        </h2>
        <p class="article-meta">
          from An Event Apart
        </p>
      </a>
    </li>

    <li class="article-list-article">
      <a class="article-list-article-link" href="https://abookapart.com/">
        <span class="article-category">
          Resource
        </span>
        <h2 class="article-list-article-title">
          An Book Apart
        </h2>
        <p class="article-meta">
          from An Book Apart
        </p>
      </a>
    </li>
  </ul>