---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="about-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <ul>
          <li><a href="https://noti.st/colabottles/DsfnOY/from-code-to-calm-combating-burnout-in-tech">From Code to Calm: Combating Burnout in Tech from KCDC 2024</a></li>
          <li><a href="https://noti.st/colabottles/2hRkcW/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST from KCDC 2024</a></li>
          <li><a href="https://bit.ly/4cT7A9u">How to Make JavaScript Accessible Without Losing Your Sanity (or Your Hair) from Devnexus</a></li>
          <li><a href="https://noti.st/colabottles/XtiWZU/making-a-strong-case-for-accessibility">Making A Strong Case For Accessibility from Orlando Code Camp</a></li>
          <li><a href="https://youtu.be/dUqc_vcrtpQ?si=pPc4XNM73EYjXgt2">Breaking the Loop: A Journey Beyond Tech &amp; Exploring the Groundhog Day of Life from HalfStack Phoenix</a> (VIDEO)</li>
          <li><a href="https://noti.st/colabottles/Zp650q/the-four-principles-of-the-a-pour-calypse-the-harbingers-of-accessibility">POUR talk at Connect.Tech</a></li>
          <li><a href="https://noti.st/colabottles/W3YuwB/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST from MagnoliaJS</a><a href="https://www.youtube.com/live/mr6rWFgh_1E?si=8VJbyPWcFXyBp_u0&t=25385"> (VIDEO)</a></li>
          <li><a href="https://noti.st/colabottles/Q3zpwL/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST from KCDC</a></li>
          <li><a href="https://noti.st/colabottles/5AUHLm/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST from Devnexus</a></li>
          <li><a href="https://noti.st/colabottles/bqmKaC/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST from HalfStack Phoenix</a></li>
          <li><a href="https://noti.st/colabottles/tp43rp/deceptive-patterns-and-fast">Deceptive Patterns &amp; FAST fron CodeMash 2023</a></li>
          <li><a href="https://noti.st/colabottles/vPO2HH/accessibility-overlays-why-you-should-avoid-them">Accessibility Overlay slides from Connect Tech</a></li>
          <li><a href="https://noti.st/colabottles/h9ojoL/deceptive-patterns-and-fast">Deceptive Patterns slides from Connect.tech 2022</a></li>
          <li><a href="https://noti.st/colabottles/Rtjvrl/making-a-strong-case-for-accessibility">Slides from MagnoliaJS Conference</a></li>
          <li><a href="https://noti.st/colabottles/Em3aKQ/making-a-strong-case-for-accessibility">Slides from Code PaLOUsa</a></li>
          <li><a href="https://noti.st/colabottles/MBkT1n/making-the-pragmatic-business-case-for-accessibility">Slides from KCDC, Pragmatic Business Case Talk</a></li>
          <li><a href="https://noti.st/colabottles/eHPdlN/the-four-principles-of-the-a-pour-calypse-the-harbingers-of-accessibility">Slides from KCDC, POUR Talk</a></li>
          <li><a href="https://noti.st/colabottles/IjWu31/making-a-strong-case-for-accessibility">Slides from Beer City Code</a></li>
          <li><a href="https://noti.st/colabottles/Jk2PWf/making-a-strong-case-for-accessibility">Slides from Code on the Beach</a></li>
          <li><a href="https://noti.st/colabottles/SJME5e/making-a-case-for-accessibility">Slides from DevNexus</a></li>
          <li><a href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/">Smashing Magazine Article</a></li>
          <li><a href="https://webaim.org/projects/million/">WebAIM Million Report</a></li>
          <li><a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a></li>
          <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html">Understanding Success Criterion 1.4.3</a></li>
          <li><a href="https://www.triplepundit.com/story/2022/investing-disability-inclusion/741416">The Business Case for Investing in Disability Inclusion Worldwide</a></li>
          <li><a href="https://diverseabilitymagazine.com/2018/09/buying-power-people-disabilities/">The Buying Power of People with Disabilities</a></li>
          <li><a href="https://makeitfable.com">Fable</a></li>
          <li><a href="https://www.overlayfactsheet.com/">Overlay Fact Sheet</a></li>
          <li><a href="hhttps://overlayfalseclaims.com/">Overlay False Claims</a></li>
          <li><a href="https://adrianroselli.com/2020/06/accessibe-will-get-you-sued.html">AccessiBe Will Get You Sued</a></li>
          <li><a href="https://adrianroselli.com/2021/09/userway-will-get-you-sued.html">UserWay Will Get You Sued</a></li>
          <li><a href="https://www.zeldman.com/2019/12/01/bluebeanieday2019/">Another Blue Beanie Day, Jeffrey Zeldman</a></li>
          <li><a href="https://cottonbureau.com/products/a11y-is-a-right#/5254640/">A11y is a right. NOT a privilege t-shirt</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
