---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="article-container">
  <section class="about">
      <h2 class="page-title">{{title}}</h2>

      <div class="container">
        <h3 class="sub-heading">Hello there!</h3>
        <p>I'm Todd and I am happy and honored that you have invited me to speak at your event.</p>
        <dl>
          <dt>Name:</dt>
          <dd>Todd Libby</dd>
          <dt>Company:</dt>
          <dd>Independent Consultant</dd>
          <dt>Title:</dt>
          <dd>W3C Invited Expert</dd>
          <dt>Twitter:</dt>
          <dt>Location:</dt>
          <dd>Phoenix, AZ, USA</dd>
        </dl>

        <h3 class="sub-heading">Bio</h3>
        <p>I am a seasoned web developer and accessibility advocate who has dedicated the last 25 years of his life to advancing the field of web development. Born and raised in Portland, Maine, I developed a love for technology at a young age (9) and was captivated by the potential of the internet as a means of communication and innovation.</p>

        <p>Being self-taught in all phases of web development and accessibility over the years, I gained a wealth of experience and expertise in web development, working on a diverse range of projects and platforms. I used those skills to work independently, assisting companies and small businesses in their branding and online prescence as well as consulting in the areas of making their digital assets accessible and buidling a culture of accessibility in those organizations.</p>

        <p>After years of working independently, I moved on to working in the area of accessibility as an auditor and engineer for a couple of different organizations.</p>

        <p>As my passion for web development grew, so did my commitment to making the internet a more inclusive and accessible space for everyone. I've become a staunch advocate for web accessibility, working tirelessly to ensure that websites and online content were accessible to people with disabilities as well as the practice of hiring people with disabilities.</p>

        <p>In recent months, I have shifted my focus towards Developer Relations, a role that allows me to share my knowledge and enthusiasm for web technologies with others. I have become a speaker at conferences and events, where I educate attendees on the latest trends and best practices in web development and accessibility.</p>

        <p>Throughout my career, I have remained true to my roots and values, always striving to make a positive impact in his community and beyond. My dedication and passion for web development and accessibility hopefully continues to inspire others in the field and beyond.</p>

        <div class="blogroll-container">
          <h3 class="sub-heading">Videos</h3>

          <section class="videos">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/M-5p1UCcj-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZHIgB3AKPkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BhUtMZtv-DQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hNNl-t3Zx7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MqyEQ4BRPmY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7Fu3fClkR1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mr6rWFgh_1E?si=ZuXmNsT3rghnT8LH&amp;start=25385" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sNwkyLpCCgc?si=wzYvkUBuhbUPa7jZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C7FI3XB4MpM?si=Rsoz80qVjacWpJ0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ls84UkYB5sk?si=leLtFQrPmzjPPvMn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2ivODfxrDR4?si=PFbUM-dUWUN2qzWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aChBL4fsr2E?si=KJ7goI4016JVf4_t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JrmaC5zeSPA?si=tJG4EsvIL5MK-T01" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/luvkjIpUc-Q?si=L6gkgzYemAVfH7lq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_a6mEXb6Ldg?si=stG2uk1oxksINWaC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eTJKI1q_k5w?si=XedHWwroHIUvCpjp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dBNwq3rPJlQ?si=gakRlQLZo4bm8yTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5tomkLpdtP4?si=VAB7F8MybmyJ7arI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ya2s9TK-4_8?si=x6ACxB1NdvJZMlR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </section>
        </div>

        <h3 class="sub-heading">Errata</h3>
        <h4 class="article-link">Available to:</h4>
        <p>Speak at your event on the topics of accessibility, UX, Deceptive Patterns, web development, and inclusive design.</p>
        <h4 class="article-link">Hard no's or passes:</h4>
        <p>Events focused on alcohol or partying, events with lack of a diverse speaker roster, conferences without a Code of Conduct, Not having full access to the event, certain people that I will not present alongside of.</p>
        <h4>Costs/expenses:</h4>
        <p>A speaking stipend, and/or room and travel covered by the conference.</p>
        <h4>My expectations:</h4>
        <p>A safe environment for every attendee, a wide variety of speakers and not an all-male speaker lineup.</p>
        <h4>What I bring to your event:</h4>
        <p>26 years of experience with web programming, UX and accessibility, as well as community engagement and suggest your conference to other speakers I know on the speaking circuit and others looking to speak at conferences.</p>
        <h3>Miscellaneous:</h3>
        <h4>Headshots/Photos:</h4>
        <img src="https://res.cloudinary.com/colabottles/image/upload/v1734491871/toddl.jpg" alt="Todd headshot one." />
        <img src="https://res.cloudinary.com/colabottles/image/upload/v1738089623/tl_kcdc_headshot.jpg" alt="Todd headshot two." />
        <img src="https://res.cloudinary.com/colabottles/image/upload/v1738087368/tl_kc_burnout.jpg" alt="Todd giving his talk on burnout at KCDC 2024." />
        <img src="https://res.cloudinary.com/colabottles/image/upload/v1738089626/kcdc_decpat.jpg" alt="Todd giving his talk at KCDC about Deceptive Patterns in 2024." />
      </div>
  </section>
</div>
