---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>Hello there!</h2>
        <p>I'm Todd and I am happy and honored that you have invited me to speak at your event. I have </p>
        <dl>
          <dt>Name:</dt>
          <dd>Todd Libby</dd>
          <dt>Company:</dt>
          <dd>Independent Contractor</dd>
          <dt>Title:</dt>
          <dd>Senior Accessibility Engineer</dd>
          <dt>Twitter:</dt>
          <dd><a href="https://twitter.com/toddlibby">@toddlibby</a></dd>
          <dt>Mastodon:</dt>
          <dd><a href="https://a11y.info/@todd/">🦞 Todd</a></dd>
          <dt>Location:</dt>
          <dd>Phoenix, AZ, USA</dd>
        </dl>

        <h2>Bio</h2>

        <h2>Videos</h2>

        <h2>Errata</h2>
        <h3>Available to:</h3>

        <h3>Hard no's or passes:</h3>

        <h3>My expectations:</h3>

        <h3>What I bring to your event:</h3>

        <h3>Costs/expenses:</h3>

        <h3>Miscellaneous:</h3>

        <h3>Headshots:</h3>
      </div>
    </section>
  </section>
</div>