---
layout: layouts/page.njk
templateClass: tmpl-post
---

  <article class="style-guide">
    <section class="style_guide__body">
      <h2>Fonts</h2>
        <h1 id="style-guide_h1">Heading One</h1>
        <h2 id="style-guide_h2">Heading Two (Home page)</h2>
        <h2>Heading Two</h2>
        <h3><em>Heading Three</em></h3>
        <h4>Heading Four</h4>

        <p>A paragraph, courtesy of Jeffsum.com! They're using our own satellites against us. And the clock is ticking. You really think you can fly that thing?You really think you can fly that thing? They're using our own satellites against us. And the clock is ticking. Just my luck, no ice. So you two dig up, dig up dinosaurs?</p>

        <ul>
          <li>List Item</li>
          <li>List Item</li>
          <li>List Item</li>
        </ul>

        <ol>
          <li>List Item</li>
          <li>List Item</li>
          <li>List Item</li>
        </ol>
        
        <blockquote cite="Some Internet Guy">This is a blockquote <a href="#">With a link!</a> Some sage advice or crafty quotes go in a blockquote!</blockquote>

        <span class="article-category">Blog category title</span>
      </section>
    </article>

    <article class="style-guide">
      <section class="style_guide__body">
        <h2>Colors: Brand</h2>
          <div class="style-guide__wrapper">
            <div class="box black">#000000 - Black</div>
            <div class="box white">#ffffff - White</div>
            <div class="box green">#1db954 - Shamrock Shake Green</div>
          </div>
        <h2>Colors: UI</h2>
          <div class="style-guide__wrapper">
            <div class="box ghost_white">#f8f8ff - Ghost White</div>
            <div class="box white_smoke">#f5f5f5 - White Smoke</div>
            <div class="box gainsboro">#dcdcdc - Gainsboro</div>
            <div class="box light_gray">#cccccc - Light Gray</div>
            <div class="box dark_gray">#333333 - Dark Gray</div>
            <div class="box crimson_red">#990000 - Crimson Red</div>
            <div class="box red">#f40009 - Coca-Cola Red</div>
            <div class="box vivid_blue">#1da1f2 - Vivid Blue</div>
            <div class="box green">#1db954 - Shamrock Shake Green</div>
            <div class="box mtndew_green">#014713 - Mountain Dew Green</div>
          </div>
      </section>
    </article>

    <article class="style-guide">
      <section class="style_guide__body">
        <h2>Components</h2>
          <div class="style-guide__wrapper">
            <h3>Links</h3>
              <a href="#" class="clear">This is a hyperlink, hover over it!</a>
              <a href="#"><div id="squeaky" class="clear">More details for HOT JAMBALAYA!</div></a>
            <h3>Forms</h3>
              <h4>Search box</h4>
                <input type="search" id="srch" name="srch" aria-label="Search for...">
              <h4>Form Input, Textarea, Button</h4>
                <div class="contact">
                  <form action="#" id="contact-form">
                    <p class="full">
                      <label for="name">Name:
                        <input type="text" name="name" aria-labelledby="contact-form">
                      </label>
                    </p>
                    <p class="full">
                      <label for="message">Message:
                        <textarea name="message" id="" cols="30" rows="10"
                          aria-labelledby="contact-form"></textarea>
                      </label>
                    </p>
                    <p class="full">
                      <button>Submit</button>
                    </p>
                  </form>
                </div>
          </div>
      </section>
    </article>