---
layout: layouts/base.njk
templateClass: tmpl-post
---

    <section class="article__body">
      <div class="container">
        <h2>Hey there! Thanks for subscribing!</h2>
        
        <p>So glad you could join me!</p>
        <p>Things I promise no to do with your email:</p>
        <ol>
          <li>I won't sell your email to <strong>anyone</strong>.</li>
          <li>I won't spam you.</li>
        </ol>
        
        <p>Here's what I will do:</p>
        <ol>
          <li>I'll offer up lots of lobster content.</li>
          <li>I'll even throw in a smattering of tech stuff.</li>
          <li>Throw in some humor, cause we all need to laugh.</li>
        </ol>

        <p>Have a look around my site or if you have any quesions, <a href="https://twitter.com/toddlibby">find me on social media at Twitter</a> or email me at <em>todd [at] hey [dot com]</em>!</p>
      </div>
    </section>
