---
layout: layouts/base.njk
templateClass: tmpl-post
---

    <section class="article__body">
      <div class="container">
        <h2>Hey there! Thanks for subscribing!</h2>
        <h3>So glad you could join me!</h3>
        <p>Have a look around my site or if you have any quesions, <a href="https://twitter.com/toddlibby">find me on social media at on Twitter</a> or email me at <em>todd [at] hey [dot com]</em>!</p>
      </div>
    </section>
