---
layout: layouts/page.njk
templateClass: tmpl-post
---

<div class="page-container">
  <section class="about">
    <header class="article__header">
      <h2 class="article__title">
        {{title}}
      </h2>
    </header>

    <section class="article__body">
      <div class="container">
        <h2>How To Support My Projects</h2>

        <p>If you are so inclined to show your support, I have compiled a list of places that you can show that support!</p>

        <h3>Places</h3>

        <ul>
          <li><a href="https://cottonbureau.com/people/todd-libby">Cotton Bureau</a></li>
          <li><a href="https://toddl.dev/podcast">Front End Nerdery Podcast</a></li>
          <li><a href="https://www.twitch.tv/toddlibby">Twitch</a></li>
          <li><a href="https://www.youtube.com/@frontendnerdery">YouTube</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
