---
layout: layouts/base.njk
templateClass: tmpl-post
---

<h2>Sorry to see you go.</h2>
<h3>Thanks for sticking around though.</h3>
<p>Have a look around my site or if you have any quesions, <a href="https://twitter.com/toddlibby">find me on social media at on Twitter</a> or email me at <em>todd [at] hey [dot com]</em>! Until then, stay safe and hope to see you back soon.</p>
