---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="uses-links">
  <h1>What I Use</h1>
  <p>Here's a rundown of the tools I use in my everyday development.</p>
  <ul class="links-list">
    <li>Code editor: <a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a></li>
    <li>Hosting: <a href="https://www.netlify.com/">Netlify</a></li>
    <li>Code Repo: <a href="https://github.com/">GitHub</a></li>
    <li>Browser: <a href="https://polypane.app">Polypane</a></li>
    <li>Email: <a href="https://protonmail.com/">Protonmail</a></li>
    <li>Terminal: <a href="https://warp.dev/">Warp</a></li>
    <li>Video Meetings: <a href="https://meet.google.com/">Google Meet</a></li>
    <li>Organization: <a href="https://notion.so/">Notion</a></li>
    <li>Emoji App: <a href="https://matthewpalmer.net/rocket/">Rocket</a></li>
    <li>Clipboard Manager: <a href="https://apps.apple.com/us/app/flycut-clipboard-manager/id442160987?mt=12">Flycut</a></li>
    <li>Window Management: <a href="https://rectangleapp.com/">Rectangle</a></li>
  </ul>
</div>