---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="uses-links">
  <h1>What I Use</h1>
  <p>Here's a rundown of the tools I use in my everyday development.</p>
  <ul class="links-list">
    <li>Code editor: <a href="https://code.visualstudio.com/">VS Code</a></li>
      <ul>Accessibility Testing Tools
        <li><a href="https://wave.webaim.org/">WAVE</a></li>
        <li><a href="https://www.deque.com/axe/">axe</a></li>
        <li><a href="https://www.tpgi.com/arc-platform/arc-toolkit/">ARC Toolkit</a></li>
        <li><a href="https://www.ibm.com/able/toolkit/">IBM Equal Access Checker</a></li>
        <li><a href="https://www.pauljadam.com/bookmarklets/">Paul J. Adam Bookmarklets</a></li>
        <li><a href="https://a11y-tools.com/bookmarklets/">Ian Lloyd Bookmarklets</a></li>
        <li><a href="https://codepen.io/aardrian/pen/eYyjNVg">Adrian Roselli 24x24px Cursor Bookmarklet</a></li>
        <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI Accessibility Testing Tool</a></li>
        <li><a href="https://sclower.github.io/accessibegone/">AccessiBe Gone</a></li>
        <li><a href="https://accessibilityinsights.io/">Accessibility Insights</a></li>
        <li><a href="https://brucelawson.github.io/tota11y/">Tota11y 2</a></li>
        <li><a href="https://accesslint.com/">Access Lint</a></li>
        <li><a href="https://validator.w3.org/nu/about.html#extras">Nu HTML Checker Bookmarklet</a></li>
        <li><a href="http://www.last-child.com/aria-owns-bookmarklet/">aria-owns Bookmarklet</a></li>
        <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/index.html">Firefox DevTools Accessibility Inspector</a></li>
        <li><a href="https://assistivlabs.com">Assistiv Labs</a></li>
        <li><a href="https://www.nvda-project.org/download/">NVDA Screen Reader</a></li>
        <li><a href="https://cdpn.io/stevef/debug/YLMqbo">Text Spacing bookmarklet</a></li>
      </ul>
    <li>Hosting: <a href="https://www.netlify.com/">Netlify</a></li>
    <li>Code Repo: <a href="https://github.com/">GitHub</a></li>
    <li>Browser: <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
    <li>Email: <a href="https://protonmail.com/">Protonmail</a></li>
    <li>Terminal: <a href="https://iterm2.com/">iTerm2</a></li>
    <li>Video Meetings: <a href="https://zoom.us/">Zoom</a></li>
    <li>Organization: <a href="https://notion.so/">Notion</a></li>
    <li>Collaboration Boards: <a href="https://trello.com/">Trello</a></li>
    <li>Photo Editing: <a href="https://affinity.serif.com/en-us/photo/">Affinity Photo</a></li>
    <li>Vector Work: <a href="https://affinity.serif.com/en-us/designer/">Affinity Designer</a></li>
    <li>Music: <a href="https://deezer.com/">Deezer</a></li>
    <li>Design: <a href="https://www.figma.com/login">Figma</a></li>
    <li>Writing: <a href="https://ulysses.app/">Ulysses</a></li>
    <li>Notes: <a href="https://getdrafts.com/">Drafts</a></li>
    <li>Emoji App: <a href="https://matthewpalmer.net/rocket/">Rocket</a></li>
    <li>Clipboard Manager: <a href="https://apps.apple.com/us/app/flycut-clipboard-manager/id442160987?mt=12">Flycut</a></li>
  </ul>
</div>