---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="uses-links">
  <h1>What I Use</h1>
  <p>Here's a rundown of the tools I use in my everyday development.</p>
  <ul class="links-list">
    <li>Code editor: <a href="https://code.visualstudio.com/">VS Code</a></li>
    <li>Hosting: <a href="https://www.netlify.com/">Netlify</a></li>
    <li>Code Repo: <a href="https://bitbucket.org/product/">BitBucket</a></li>
    <li>Code Repo: <a href="https://github.com/">GitHub</a></li>
    <li>Casual Browser: <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
    <li>Dev Browser/Tools: <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/">Firefox Nightly</a></li>
    <li>VPN:<a href="https://nordvpn.com/">NordVPN</a></li>
    <li>Email: <a href="https://protonmail.com/">Protonmail</a></li>
    <li>Terminal: <a href="https://iterm2.com/">iTerm2</a></li>
    <li>Video Meetings: <a href="https://zoom.us/">Zoom</a></li>
    <li>Workflow: <a href="https://basecamp.com/">Basecamp 3</a></li>
    <li>Organization: <a href="https://basecamp.com/">Notion</a></li>
    <li>Collaboration Boards: <a href="https://trello.com/">Trello</a></li>
    <li>Music: <a href="https://tidal.com/">TIDAL</a></li>
    <li>Design: <a href="https://www.sketch.com/">Sketch</a></li>
    <li>Design: <a href="https://www.figma.com/login">Figma</a></li>
    <li>Design: <a href="https://www.invisionapp.com/studio">Invision Studio</a></li>
    <li>Mobile Design: <a href="https://www.adobe.com/products/xd.html">Adobe XD</a></li>
    <li>Wireframes: <a href="https://balsamiq.com/wireframes/">Balsamiq</a></li>
    <li>Writing: <a href="https://ulysses.app/">Ulysses</a></li>
    <li>Notes: <a href="https://evernote.com/">Evernote</a></li>
    <li>Notes: <a href="https://www.agenda.com/">Agenda</a></li>
    <li>Emoji App: <a href="https://matthewpalmer.net/rocket/">Rocket</a></li>
    <li>Clipboard Manager: <a href="https://apps.apple.com/us/app/flycut-clipboard-manager/id442160987?mt=12">Flycut</a></li>
    <li>Color Picker: <a href="http://frank-deloupe.softwar.io/">Frank DeLoupe</a></li>
    <li>Mac Utilities: <a href="https://apps.apple.com/us/app/amphetamine/id937984704?mt=12">Amphetamine</a></li>
    <li>Mac Utilities: <a href="https://justgetflux.com/">fl.ux</a></li>
    <li>Mac Utiltiies: <a href="https://nightowl.kramser.xyz/">Night Owl</a></li>
    <li>Mac Utilities: <a href="https://awaremac.com/">Aware</a></li>
    <li>Mac Utilities: <a href="https://www.spectacleapp.com/">Spectacle</a></li>
  </ul>
</div>